[submodule "azure-sdk-for-python"]
	path = azure-sdk-for-python
	url = https://github.com/Azure/azure-sdk-for-python.git
	branch = quantum/azure-quantum-client
[submodule "./azure-sdk-for-python/"]
	branch = feature/azure-quantum-sdk
