:root {
  --d3-colors: #0078d4, #ef6950, #b7b8b9;
  --d3-colors-legend: #7fbbe9, #ef6950, #b7b8b9;
  --chart-opacity: 0.5;
  --chart-hover-opacity: 0.65;
  --pad-angle: 0.01;
}

.title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #201f1e;
  text-anchor: middle;
}

.svg-container {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
  color: #201f1e;
}

.svg-element {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 50px;
  align-items: center;
}

.legend {
  font-size: 10px;
  font-family: Segoe UI;
  line-height: 14px;
  fill: black;
  font-weight: 600;
  font-style: normal;
}

.legend-maintext {
  font-size: 10px;
  fill: #000000;
  font-family: Segoe UI;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
}

.legend-values {
  font-size: 24px;
  font-family: Segoe UI;
  line-height: 32px;
  fill: #24272b;
  font-style: normal;
  font-weight: 600;
}

.donut-middle-title {
  font-size: 16px;
  fill: #323130;
  font-weight: 400;
  font-style: normal;
  text-anchor: middle;
  font-family: Segoe UI;
  line-height: 21px;
}

.donut-middle-text {
  font-size: 55px;
  fill: #323130;
  font-weight: 400;
  font-style: normal;
  text-anchor: middle;
  font-family: Segoe UI;
  line-height: 73px;
}
