.svg-container{
justify-content: center;
align-items: center;
padding: 50px;
}

.text.time{
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
display: flex;
align-items: center;
color: #323130;

    
}

