.svg-container {
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.time {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #323130;
}

.runtimeText {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #323130;
}

.title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #201f1e;
  text-anchor: middle;
}
.legend {
  font-size: 14px;
  font-family: Segoe UI;
  line-height: 18px;
  fill: black;
  font-weight: 600;
  font-style: normal;
}

.legend-maintext {
  font-size: 14px;
  fill: #000000;
  font-family: Segoe UI;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
