.space-diagram{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    display: inline-flexbox;
    align-items: center;
    text-align: center;
    margin: 10px;
    color: #201F1E;
}

.svg--center{  
    display: inline-block;
    position: absolute;
    top: 30%;
    bottom: 0%;
    left: 0%;
    right: 50%;
    display: inline-flexbox;
    align-items: center;
    text-align: center;
  }