interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.30.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1756450397, "ext_expires_in":
        1756450397, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Unavailable", "averageQueueTime":
        0, "statusPage": null}, {"id": "ionq.qpu.aria-1", "currentAvailability": "Available",
        "averageQueueTime": 2890355, "statusPage": "https://status.ionq.co"}, {"id":
        "ionq.qpu.aria-2", "currentAvailability": "Unavailable", "averageQueueTime":
        2556997, "statusPage": "https://status.ionq.co"}, {"id": "ionq.simulato[...]
