interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Oct 2022 22:34:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:9fa3163d-701e-0028-3a53-dfd3df000000\nTime:2022-10-13T22:34:41.6989298Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: b'\x1f\x8b\x08\x00\x81\x92Hc\x02\xff'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 13 Oct 2022 22:34:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000/395bc132-4b47-11ed-bdf4-6045bdc85d00?comp=block&blockid=ICAgICAgICAgMA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: b"D\xc8A\n\x80 \x14E\xd1\xad\xc8\x1bK\xa46r+!Af\xd0\xa0\x8c\xd4 \xc4\xbd\xf7+\xc8\xd9\xbd'\xc3\xfa\x10\x879m6.~\x83\xce8\xdd\x11\xde\x84hZp\xc4kw4{\x1a\xfds\xeeX\x03t\x9fa\xa1Y\xcb\x19\x96\x89\x9e\xf5\x94\xc2\x14\xfe\xb9\xa8N)\x7f\x97\xd5)\xd5\xef\xaa:eg\x8a)\xe5\x06\x00\x00\xff\xff\x03\x00\xd3mJ\x10\x9b\x00\x00\x00"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Thu, 13 Oct 2022 22:34:41 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000/395bc132-4b47-11ed-bdf4-6045bdc85d00?comp=block&blockid=ICAgICAgICAgMQ%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<BlockList><Latest>ICAgICAgICAgMA==</Latest><Latest>ICAgICAgICAgMQ==</Latest></BlockList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-date:
      - Thu, 13 Oct 2022 22:34:41 GMT
      x-ms-meta-avg_coupling:
      - '2.0'
      x-ms-meta-max_coupling:
      - '2'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '4'
      x-ms-meta-type:
      - pubo
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000/395bc132-4b47-11ed-bdf4-6045bdc85d00?comp=blocklist&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Oct 2022 22:34:42 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/00000000-0000-0000-0000-000000000000/395bc132-4b47-11ed-bdf4-6045bdc85d00?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: '{"cost_function": {"version": "1.0", "type": "pubo", "terms": [{"c":
        0, "ids": [0, 1]}, {"c": 1, "ids": [1, 2]}, {"c": 2, "ids": [2, 3]}, {"c":
        3, "ids": [3, 4]}]}, "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-119/120
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 13 Oct 2022 22:34:41 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-avg_coupling:
      - '2.0'
      x-ms-meta-max_coupling:
      - '2'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '4'
      x-ms-meta-type:
      - pubo
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 206
      message: Partial Content
version: 1
