interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2024-10-01-preview&filter=CreationTime%20ge%202024-04-01&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Succeeded", "jobFailurePolicy": "Abort", "name":
        "session-1859a4c6-f786-11ee-974f-aa03815e5e6b", "id": "1859a4c6-f786-11ee-974f-aa03815e5e6b",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-04-10T22:03:00.2077471Z",
        "endExecutionTime": "2024-04-10T22:03:36.6318538Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-3647adaf-f786-11ee-ae45-aa03815e5e6b",
        "id": "3647adaf-f786-11ee-ae45-aa03815e5e6b", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-04-10T22:03:50.6318746Z",
        "endExecutionTime": "2024-04-10T22:05:28.7668469Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeede[...]
