interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.14.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "qc-test-c896b2b0-1805-11ec-985e-acde48001122"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:48 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:4c1cfa95-701e-0005-4f12-ac4d36000000\nTime:2021-09-17T22:22:48.8613531Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:48 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x006\x15Ea\x02\xffU\xccM\x0e\x83 \x10\x05\xe0\xab\x98YK\x03\xa3\xb6\xb1\xe7pWM\x83J\x13\x93\xf2\x13\xc0&\x8d\xe1\xee%\xb8\xa0\xac\x18\xde7o\x0e\x90\xc2\xf3\x95{\x0e\xf7\xea\x00\xc5\xa5\x88\x03\x0c\xc2yb\xac\x9e\xdfB\x92\x11\x90"\xa3=\xbb\x11\xd6!\xb6\xd7\x11
      \xd4\x15,\xda\xf9\xe7kW\x8b\xdf\xb4J\xf5\x8f\xb0\xee\x9c\x81](\xc4\x1d\xff5\xe9\xa0\xd9g\x9d\xfe\xc2J\x17\x83\xc7\x01K|H\x13\xb3mM\t\xab+:\xc5\xbb\xa7t\x19\xb0\x80\xbe\x00\x96\x0134E\x83\xb4\x85\xfcUJ\xc0)L!\xfc\x00\xff\xb57\xb4\x12\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:49 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:49 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:e8dd2db1-401e-0098-2d12-acbf8c000000\nTime:2021-09-17T22:22:50.3105865Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
      "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
        "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "metadata": null, "name":
        "Optimization problem", "id": "00000000-0000-0000-0000-000000000000", "status":
        "Waiting", "outputDataFormat": "microsoft.qio-results.v1", "outputDataUri":
        "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-09-17T22:22:50.9738887+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:53 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-caab1f28-1805-11ec-985e-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"improvement_cutoff": "10", "improvement_tolerance": "1e-09",
        "seed (GENERATED)": "91497942", "solver_name": "Tabu", "tabu_tenure (COMPUTED)":
        "2", "tabu_tenure_rand_max (COMPUTED)": "2"}, "solutions": [{"configuration":
        {"0": "1", "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.tabu",
        "version": "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-529/530
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - bPnL+22imbhfxBAafWIitQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 17 Sep 2021 22:22:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"num_sweeps_per_run":
      "99"}, "providerId": "1qbit", "target": "1qbit.pticm", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:22:59 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-cd64bbde-1805-11ec-985e-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"auto_set_temperatures": "true", "elite_threshold": "0.3",
        "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing": "0.15", "frac_sweeps_idle":
        "1", "frac_sweeps_stagnation": "1", "goal": "OPTIMIZE", "high_temp": "0.662126",
        "low_temp": "0.0662126", "manual_temperatures": "", "max_samples_per_layer":
        "10", "max_total_sweeps": "1000", "mc_acceptance_probability": "[ 0.0204795,
        0.014985, 0.0264735, 0.0343407, 0.0260989, 0.0694306, 0.0534466, 0.0370879,
        0.07505, 0.0864136, 0.110639, 0.0715534, 0.142483, 0.138362, 0.107517, 0.180694,
        0.131743, 0.206668, 0.232892, 0.20467, 0.263112, 0.226898, 0.302198, 0.281593,
        0.32992, 0.345155, 0.371753, 0.400475, 0.443931, 0.493257 ]", "num_elite_temps":
        "4", "num_replicas": "2", "num_sweeps_per_run": "99", "num_temps": "30", "pt_acceptance_probability":
        "[ 0, 0.0034965, 0.003996, 0.0024975, 0.0664336, 0.00499501, 0, 0.12987, 0.146853,
        0.13986, 0.034965, 0.171828, 0.040959, 0.0104895, 0.288212, 0.0799201, 0.35964,
        0.280719, 0.148851, 0.350649, 0.0794206, 0.661838, 0.406094, 0.515485, 0.521978,
        0.516484, 0.472527, 0.451548, 0.26024 ]", "runs_counter": "10", "scaling_factor":
        "4", "scaling_type": "MEDIAN", "seed (GENERATED)": "16784824", "solver_name":
        "PTICM", "sweeps_to_best": "1", "time_to_best": "8", "total_sweeps": "1000",
        "var_fixing_type": "NO_FIXING"}, "solutions": [{"configuration": {"0": "1",
        "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.pticm", "version":
        "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-1614/1615
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - i7/dgu/UlTv7jKPGHvY5GQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 17 Sep 2021 22:22:55 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"distance_scale": "0.44"},
      "providerId": "1qbit", "target": "1qbit.pathrelinking", "outputDataFormat":
      "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.bl[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:23:04 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-d0b64316-1805-11ec-985e-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"distance_scale": "0.44", "greedy_path_relinking": "false",
        "ref_set_count": "10", "seed (GENERATED)": "3794598828", "solver_name": "PathRelinking"},
        "solutions": [{"configuration": {"0": "1", "1": "1", "2": "0", "3": "1"},
        "cost": -5.0}], "target": "1qbit.pathrelinking", "version": "1.0", "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-501/502
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - wDp5WH+zMgNrAJ685uEuIw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 17 Sep 2021 22:23:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"loops": 10}, "providerId":
      "toshiba", "target": "toshiba.sbm.ising", "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.wi[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:23:14 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-d3f136d0-1805-11ec-985e-acde48001122.output.json
  response:
    body:
      string: '{"target": "toshiba.sbm.ising", "version": "1.0", "input_params": {"loops":
        10}, "input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-c896b2b0-1805-11ec-985e-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "solutions": [{"cost": -5.0, "configuration": {"0": 1, "1": 1, "2": 0, "3":
        1}, "parameters": {"runs": 1601, "message": "finished", "time": 0.02}}], "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-448/449
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - uI8BQkszFoN8ueFVlXHk6g==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 17 Sep 2021 22:23:06 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
version: 1
