interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.21.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview
  response:
    body:
      string: '{"value": [{"status": "Failed", "jobFailurePolicy": "Abort", "name":
        "MySession", "id": "s1", "providerId": "ionq", "target": "ionq.simulator",
        "creationTime": "2023-01-11T23:08:01.9547223Z", "endExecutionTime": "2023-01-11T23:10:26.788466Z",
        "costEstimate": null, "itemType": "Session"}, {"status": "TimedOut", "jobFailurePolicy":
        "Abort", "name": "Session fcec84a9-9dee-11ed-b5c6-6045bdaa2ba8", "id": "00000000-0000-0000-0000-000000000000",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-01-27T03:02:10.8974888Z",
        "endExecutionTime": "2023-01-27T03:14:09.6684625Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "TimedOut", "jobFailurePolicy": "Abort",
        "name": "Session 1d5317b0-9def-11ed-8c66-6045[...]
