interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "qc-test-a570fab1-35de-11ed-95a1-6045bdc85d00"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/qc-test-a570fab1-35de-11ed-95a1-6045bdc85d00?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 16 Sep 2022 16:43:10 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-a570fab1-35de-11ed-95a1-6045bdc85d00?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:90303ac4-401e-0023-15eb-c928b4000000\nTime:2022-09-16T16:43:11.3645028Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 16 Sep 2022 16:43:11 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-a570fab1-35de-11ed-95a1-6045bdc85d00?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00\x9d\xa7$c\x02\xffU\xccA\n\xc3 \x10\x05\xd0\xab\x84Y\xc7\xa2\x93\xb4`\xcf\xd1]"\xc5$\x16\x025\x065\x85"\xde\xbdb\x16\xd6\x95\xe3\x7f\xf3\'\x80V^.\xd2K\xb87\x016\xa9U\x1a\xe0\xa1\x9c\'\xbb5\xd3[i2\x02RD\xca\xd9\x8dP\xdew\x94\x8f\x00\xb1m`6\xce?_\xc76\xfb\xd5l\xb9\xfeQ\xd6\x9d3\xb0\x0b\x85\xb4\xe3\xbf{>\xb8\x1f\x93\xc9\x7fe\xb5K\xc1\x10`N\x0f\xe9R\xb6.9amCE\xba{\xca\xb5\x00V\xc0+`\x05\xb0@W5H_\xc9_\xa5\x06\x14Q\xc4\xf8\x03\x8c\xf2\x0e\xea\x12\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 16 Sep 2022 16:43:12 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/qc-test-a570fab1-35de-11ed-95a1-6045bdc85d00/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
version: 1
