interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.21.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview
  response:
    body:
      string: '{"value": [{"status": "TimedOut", "jobFailurePolicy": "Abort", "name":
        "session-0537728a-c7f7-11ed-aaf2-6045bdaa2ba8", "id": "0537728a-c7f7-11ed-aaf2-6045bdaa2ba8",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-03-21T14:45:30.5839141Z",
        "endExecutionTime": "2023-03-21T14:57:06.9906551Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "TimedOut", "jobFailurePolicy": "Abort",
        "name": "session-286b1ef7-c7f7-11ed-8324-6045bdaa2ba8", "id": "286b1ef7-c7f7-11ed-8324-6045bdaa2ba8",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-03-21T14:46:30.1502946Z",
        "endExecutionTime": "2023-03-21T14:57:07.0130828Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "TimedOut", "jobFailurePolicy": "Abort",
        "name": "session-59bb416a-c7f7-11ed-a3cb-6045[...]
