interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=+EDw8Q~cbkbeadF.mrC6bAXxFEspQDblyNyuRkcfT&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:10:35 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:769a5fe0-b01e-006a-1d6d-c86a5f000000\nTime:2022-09-14T19:10:35.8440079Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:10:35 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00*\'"c\x02\xffU\x8c\xc1\x0e\xc2 \x10D\x7f\x85\xec\xb9\x18X\xea\xa1\xde\xfc\x03\x0f\xde,1\xd8\xa2i\xd2BS\xa8\x89i\xf8w\x91\x1e\x90\xd3\xce\xce\x9b\x99\r&\xedU\xaf\xbc\x82\x13\xd9\xc0\xa8IG\x01W\xed<\xbd\xd8y\x1d\x95\x1f\xac9\x1b\xa3\xd58\x98\x17m\x01\x19"kxM9r&\xea\x16
      T\x04:\xeb\xfc\xfd\xb9\x9a\xee\x17OSo\xbd\xb8]\x03?0\x88\x19\xff\x99\xd3\xf8\xbc>l\xfa\xf52\xb9h\xdc6\xe8\xe2\xa1"zC\x9f\x1c^\x11&\xe3\xeeN\x8e\x19`\x01\x9a\x02\xf0\x0c0\x03Q4h]\x90\xbfJ\tP\x06\x19\xc2\x17\xb3)\xaf\x7f\x1e\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 14 Sep 2022 19:10:36 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PopulationAnnealing-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      200}}, "providerId": "Microsoft", "target": "microsoft.populationannealing.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        200}}, "providerId": "microsoft", "target": "microsoft.populationannealing.cpu",
        "metadata": null, "name": "Test-PopulationAnnealing-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://azuresdkteststo.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-09-14T19:10:37.0111754+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:10:38 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PopulationAnnealing-%252220210101-000000%2522-e907b61b-3460-11ed-82d2-6045bdc85d00.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"alpha": 2.0, "beta": {"final": 5.0, "initial":
        0.0, "type": "linear"}, "beta_start": 0.0, "beta_stop": 5.0, "constant_population":
        false, "population": 72, "seed": 3792943050, "sweeps": 200, "sweeps_per_replica":
        1}, "solutions": [{"configuration": {"0": 1, "1": 1, "2": 0, "3": 1}, "cost":
        -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-570/571
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - IYR+7jxNZd4sxNR0xQhSuw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 14 Sep 2022 19:10:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 206
      message: Partial Content
[...]
