interactions:
- request:
    body: None
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2018-01-01
  response:
    body:
      string: '{"error": {"code": "AuthenticationFailed", "message": "Authentication
        failed. The ''Authorization'' header is missing."}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=PLACEHOLDER&grant_type=authorization_code&client_info=1&claims=PLACEHOLDER&code_verifier=PLACEHOLDER&code_verifier=PLACEHOLDER&redirect_uri=http%3A%2F%2Flocalhost%3A8400&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default+offline_access+openid+profile
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|832,0|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.12.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3598, "ext_expires_in": 3598,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas
  response:
    body:
      string: '{"value": [{"dimension": "combined_job_hours", "scope": "Workspace",
        "providerId": "Microsoft", "utilization": 1.8295543132500005, "holds": 0.0,
        "limit": 5.0, "period": "Monthly"}, {"dimension": "combined_job_hours", "scope":
        "Subscription", "providerId": "Microsoft", "utilization": 3.1679003659722214,
        "holds": 0.0, "limit": 1000.0, "period": "Monthly"}, {"dimension": "concurrent_cpu_jobs",
        "scope": "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds":
        0.0, "limit": 5.0, "period": "None"}, {"dimension": "fpga_job_hours", "scope":
        "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds": 0.0,
        "limit": 1.0, "period": "Monthly"}, {"dimension": "fpga_job_hours", "scope":
        "Subscription", "providerId": "Microsoft", "utilization": 0.0, "holds": 0.0,
        "limit": 1000.0, "period": "Monthly"}, {"dimension": "concurrent_fpga_jobs",
        "scope": "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds":
        0.0, "limit": 1.0, "period": "None"}], "nextLink": null, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
