interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "qc-test-fff17fe5-4b46-11ed-9357-6045bdc85d00"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/qc-test-fff17fe5-4b46-11ed-9357-6045bdc85d00?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Oct 2022 22:33:04 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-fff17fe5-4b46-11ed-9357-6045bdc85d00?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:5af6ab33-701e-0017-6253-df1b7c000000\nTime:2022-10-13T22:33:05.3859493Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 13 Oct 2022 22:33:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-fff17fe5-4b46-11ed-9357-6045bdc85d00?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: 'b''\x1f\x8b\x08\x00\x1f\x92Hc\x02\xffU\xcc\xcb\n\xc3 \x10\x05\xd0_\x91Y\xc7\xe2\xa3Y\xb4\xdf\xd1]#\xc5\x18\x0b\x81\xfa@M\xa0\x88\xff^1\x8b\xd4\x95\xe3=s\''\x83\xd1I.2I\xb8\xa3\x0cV\x1a]\x07x\xe8\x98\xb0\x0fn\xfeh\x83\''`\x841J(\xc7t\xe4\x9c\xf0\t\xa0\x0c\x08\x94\x8b\xe9\xf5\xde\xacJ\xab\xb3\xad\xbe\xeb\x10\x8f\x19\xe8\x85@\xddI_\xdf\x0e\xfamv\xed\xaf\x83\x895xfP\xf5\xc1\xbcf\xeb\xd2\x12:
      "\xea\xddC\xc6\x13X\x07\xb7\x0e\xe8\t\xec\x04\xde5\xf0\xb5\x93\xbfJ\x0fL\x14Q\xca\x0fG\x0e\x00\xae\x12\x01\x00\x00'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 13 Oct 2022 22:33:06 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/qc-test-fff17fe5-4b46-11ed-9357-6045bdc85d00/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
version: 1
