interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.13.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 17 Aug 2021 18:39:34 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:5da0c04f-501e-0070-3297-9307db000000\nTime:2021-08-17T18:39:34.7369423Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 17 Aug 2021 18:39:34 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00e\x02\x1ca\x02\xff\x85S\xdbn\x830\x0c\xfd\x97<3\x14RP)\xbfR\xa1\xc8@\xd6F\x0b\t\rI\xa5\xaa\xea\xbf\xcf\x86\x8e\xc2.\x1aOv\x8e/\xc7\xc7\xe6\xce\xb4\x1d\x03\xd8V\xb1\xea\xce\x06\xef\x1a\xa3z2\xc3m\xc0\'\xe6]\x0c\xda\x9eX\xc2:\x08@@\xa7\xe7\xf8\x91\x1c\x1b{i]G\x8eH\xd8\x15L$\xf3x\xe4)O\xc4.\x15\xf9\xa1N\x8e\xb3\x91\xe0[]?\x12\xf6n\x94\n_\xc9Wu\xd6\xad\xa1\xa4\x0c\xf3\x17\xe7xg=\x965\xc8\xc0\x80?)\xec\x8f\xd1\x8d\xf2\xac*\x12\x86\x04<\xb1\x9aZ\xb3\x8a\'L\xd9n\xe3\xb70@\xab\xc3\x8d\xda\\"\xd80\xd9\x82#\x87\xc7*?\xe8\x1e\xe3\xb3";\x94</\xf9\xab\xd0\n\xa0w\x04\x1a\x18\x95l\xdd\x88\xcc\x0b\x9a\x8e\x91-\x07\xe5\xe5\xa8Z\xec\x99r\x9e\xef\xc5\xe6[\xc5|\xf4\x14R<\xeaeH9\x91\x90\x83\xd36\xe0\xc06\x1a\xf3\xc2\x90\xc5\x06A\xce^]P\xdb0k\xa3;\x14&#Q\x80x\xce\xc9\xa3\x8b\xbe\x9d\xc7\x9fM\xf9\xdc!\xc7@\xe3`5\x18\r\n\xdeh,(\t\xf9E\x08\x03\xe174\xdf\x97%\xa2\xb8q\x14\x10\x82vv\xda\xdc\xca\x97\x98\xc9\xaa|\x9f\xe6\xf9\xae\xe0\xdf1\x87\xb7T\xbdeB\xa4;.\x8aC\xbe\x85\x9f\x84i\xb2h\xb7\x9431\xa9\xbe\xd0\x9e\xf1\xbf\x89\xff\xc4\x9f\xd4IH\xedU\xafl\xd8^G6\xdd\x06\\A\x1b\xc0\xbf@\x9ec\xb3,f\xf0\xda\xf9)\x8a\xd3\x0e\xa9\xea?w\x8e\xdf\'\xe2:Z\xfe\\\x03\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 17 Aug 2021 18:39:35 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "fleet-management-job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.fleetmanagement.v1", "inputParams": {"params":
      {"solver": "stack", "depot_allowed": true}}, "providerId": "Microsoft.FleetManagement",
      "target": "microsoft.fleetmanagement", "outputDataFormat": "microsoft.fleetmanagement-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.fleetmanagement.v1", "inputParams": {"params":
        {"solver": "stack", "depot_allowed": true}}, "providerId": "microsoft.fleetmanagement",
        "target": "microsoft.fleetmanagement", "metadata": null, "name": "fleet-management-job",
        "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.fleetmanagement-results.v1", "outputDataUri": "https://georgenmtestdiag.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-08-17T18:39:35.7449167+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 17 Aug 2021 18:39:41 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dfleet-management-job-00000000-0000-0000-0000-000000000000.output.json
  response:
    body:
      string: '{"vehicles": [{"model": "large", "number": 0, "queue": [["1", "delivery"]],
        "trajectory": [{"request_id": "depot", "node": 0, "arrival_time": 1519804800,
        "departure_time": 1519804800, "capacity": {"quantity": 200.0}, "cost": 50.0},
        {"request_id": "1", "node": 1, "arrival_time": 1519804823.249, "departure_time":
        1519804943.249, "capacity": {"quantity": 199.0}, "cost": 62.30095361145337},
        {"request_id": "depot", "node": 0, "arrival_time": 1519804966.4980001, "departure_time":
        1519804966.4980001, "capacity": {"quantity": 199.0}, "cost": 74.03524055624008}]},
        {"model": "large", "number": 1, "queue": [], "trajectory": [{"request_id":
        "depot", "node": 0, "arrival_time": 1519804800, "departure_time": 1519804800,
        "capacity": {"quantity": 200.0}, "cost": 0}]}, {"model": "large", "number":
        2, "queue": [], "trajectory": [{"request_id": "depot", "node": 0, "arrival_time":
        1519804800, "departure_time": 1519804800, "capacity": {"quantity": 200.0},
        "cost": 0}]}, {"model": "large", "number": 3, "queue": [], "trajectory": [{"request_id":
        "depot", "node": 0, "arrival_time": 1519804800, "departure_time": 1519804800,
        "capacity": {"quantity": 200.0}, "cost": 0}]}, {"model": "large", "number":
        4, "queue": [], "trajectory": [{"request_id": "depot", "node": 0, "arrival_time":
        1519804800, "departure_time": 1519804800, "capacity": {"quantity": 200.0},
        "cost": 0}]}], "metadata": {"cost": 74.03524055624008, "elapsed_time": 0.00019430000975262374},
        "access_token": "fake_token"}'
    headers:
      content-disposition:
      - attachment; filename=fleet-management-job-00000000-0000-0000-0000-000000000000.output.json
      content-range:
      - bytes 0-1442/1443
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - YlXCGYwJix8PPI+yr67ajw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 17 Aug 2021 18:39:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
version: 1
