interactions:
- request:
    body: grant_type=client_credentials&client_id=00000000-0000-0000-0000-000000000000&resource=https%3A%2F%2Fquantum.microsoft.com&client_secret=sanitized
    headers:
      content-type:
      - application/x-www-form-urlencoded
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - darwin
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.6
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": "86399", "ext_expires_in": "86399",
        "expires_on": "1618685410", "not_before": "1618598710", "resource": "https://quantum.microsoft.com",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Quantum/workspaces/dummy-ws/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=sanitized&sig=sanitized&se=sanitized&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 16 Apr 2021 18:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=sanitized&sig=sanitized&se=sanitized&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:488f67d6-501e-006f-03f1-325090000000\nTime:2021-04-16T18:50:11.4473674Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ContainerNotFound
      x-ms-version:
      - '2019-02-02'
    status:
      code: 404
      message: The specified container does not exist.
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 16 Apr 2021 18:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=sanitized&sig=sanitized&se=sanitized&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9010876DE2E08"'
      last-modified:
      - Fri, 16 Apr 2021 18:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 16 Apr 2021 18:50:11 GMT
      x-ms-version:
      - '2019-02-02'
    method: GET
    uri: https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=sanitized&sig=sanitized&se=sanitized&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D9010876DE2E08"'
      last-modified:
      - Fri, 16 Apr 2021 18:50:11 GMT
      x-ms-default-encryption-scope:
      - $account-encryption-key
      x-ms-deny-encryption-scope-override:
      - 'false'
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2019-02-02'
    status:
      code: 200
      message: OK
- request:
    body: b"\x1f\x8b\x08\x00c\xdcy`\x02\xffE\x891\x0e\x80 \x10\x04\xbfB\xae&\x06\xc4\xca\xaf\x18b\x81h(\x04\x03hb\x08\x7f\xf7\x84\xe2\xaa\x9d\x9d)`B\xca\xeb~{\x93]\xf00\xb3\x02\x8f\x8d\xa93\xc8A\x00g\x90\xdf\xcb\xfe\xd7%\xe7\x8f&l<\x13\x9a\xa5\x80\xc1\x11\xa8\xdc\xd6\x04\xa2\xd4\x95\xb3\x1e$\x05\xc4\x91\xc2H\x01QQP\x14\x10']u\xad\x1f,g\x07y\xa5\x00\x00\x00"
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-content-encoding:
      - gzip
      x-ms-blob-content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 16 Apr 2021 18:50:12 GMT
      x-ms-version:
      - '2019-02-02'
    method: PUT
    uri: https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=sanitized&sig=sanitized&se=sanitized&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      content-md5:
      - PSyx/MRMgbgOhYlEPWcVRQ==
      etag:
      - '"0x8D90108775CC1DE"'
      last-modified:
      - Fri, 16 Apr 2021 18:50:12 GMT
      x-ms-content-crc64:
      - 97hhgpklHCg=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-02-02'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "test", "containerUri":
      "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000",
      "inputDataUri": "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {}}, "providerId":
      "Microsoft", "target": "microsoft.simulatedannealing-parameterfree.cpu", "outputDataFormat":
      "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-azurequantum-sdk-version:
      - 0.0.0.1
    method: PUT
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Quantum/workspaces/dummy-ws/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000",
        "inputDataUri": "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=sanitized&sr=b&sig=sanitized&se=sanitized&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {}}, "providerId":
        "microsoft", "target": "microsoft.simulatedannealing-parameterfree.cpu", "metadata":
        null, "name": "test", "id": "00000000-0000-0000-0000-000000000000", "status":
        "Waiting", "outputDataFormat": "microsoft.qio-results.v2", "outputDataUri":
        "https://sasdkreview.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData",
        "creationTime": "2021-04-16T18:50:12.8844813+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-azurequantum-sdk-version:
      - 0.0.0.1
    method: GET
    uri: https://westus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Quantum/workspaces/dummy-ws/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://sasdkreview.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000",
        "inputDataUri": "https://sasdkre[...]
