interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.23.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Succeeded", "jobFailurePolicy": "Abort", "name":
        "session-25443145-4e9c-11ee-b0a3-f8e4e3ddcdd5", "id": "25443145-4e9c-11ee-b0a3-f8e4e3ddcdd5",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-09-08T23:05:04.6766769Z",
        "endExecutionTime": "2023-09-08T23:05:17.5362338Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-2e47804a-4e9c-11ee-971d-f8e4e3ddcdd5",
        "id": "2e47804a-4e9c-11ee-971d-f8e4e3ddcdd5", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2023-09-08T23:05:19.9297364Z",
        "endExecutionTime": "2023-09-08T23:05:46.5876783Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeede[...]
