interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.26.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "TimedOut", "jobFailurePolicy": "Abort", "name":
        "My Session", "id": "24646b90-9b84-11ee-a5c9-b07d64eb437f", "providerId":
        "microsoft.test", "target": "echo-quantinuum", "creationTime": "2023-12-15T19:57:17.0052883Z",
        "endExecutionTime": "2023-12-15T20:08:30.1965511Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "Succeeded", "jobFailurePolicy": "Abort",
        "name": "session-266ee0f1-9b84-11ee-9570-b07d64eb437f", "id": "266ee0f1-9b84-11ee-9570-b07d64eb437f",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-12-15T19:57:19.0683648Z",
        "endExecutionTime": "2023-12-15T19:57:35.7561871Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-3295f6ce-9b84-11ee-aa7c-b07d64eb437f",
        "id": "3295f6ce-9b84-11ee-aa7c-b07d64eb437f", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2023-12-15T19:57:39.6433373Z",
        "endExecutionTime": "2023-12-15T19:59:06.2869897Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":[...]
