interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.34.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1791503829, "ext_expires_in":
        1791503829, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2025-12-01-preview&filter=%28Target%20eq%20%27microsoft.estimator%27%20or%20Target%20eq%20%27microsoft.dft%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-a4510e0c-e7ef-11ee-8fce-00155dfe59ef?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-a4510e0c-e7ef-11ee-8fce-00155dfe59ef/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"errorBudget": 0.01, "items":
        [{"qubitParams": {"name": "qubit_gate_us_e3"}}, {"qubitParams": {"name": "qubit_gate_us_e4"}},
        {"qubitParams": {"name": "qubit_gate_ns_e3"}}, {"qubitParams": {"name": "qubit_gate_ns_e4"}},
        {"qubitParams": {"name": "qubit_maj_ns_e4"}, "qecScheme": {"name": "floquet_code"}},
        {"qubitParams": {"name": "qubit_maj_ns_e6"}, "qecScheme": {"name": "floquet_code"}}],
        "resumeAfterFailedItem": true, "fileUris": {"fcidumpUri": "https://aka.ms/fcidump/XVIII-cas4-fb-64e-56o"}},
        "metadata": null, "sessionId": null, "jobPriority": "Basic", "status": "Succeeded",
        "jobType": "QuantumComputing", "outputDataFormat": "microsoft.resource-estimates.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-a4510e0c-e7ef-11ee-8fce-00155dfe59ef/rawOutputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-03-22T01:58:16.9709203Z", "cancellationTime":
        null, "lastModifiedTime": null, "quantumComputingData": {"count": 1}, "errorData":
        null, "isCancelling": false, "tags": [], "name": "azure-quantum-job", "id":
        "a4510e0c-e7ef-11ee-8fce-00155dfe59ef", "providerId": "microsoft-qc", "target":
        "microsoft.estimator", "creationTime": "2024-03-22T01:58:15.8923491Z", "endExecutionTime":
        "2024-03-22T01:59:23.6079027Z", "costEstimate": null, "itemType": "Job"},
        {"containerUri": "https://mystorage.blob.core.windows.net/job-04434d2a-e7f0-11ee-bbe2-00155dfe59ef?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-04434d2a-e7f0-11ee-bbe2-00155dfe59ef/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"errorBudget": 0.005}, "metadata":
        null, "sessionId"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?filter=%28Target%20eq%20%27microsoft.estimator%27%20or%20Target%20eq%20%27microsoft.dft%27%29&top=100&skip=100&api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.ne[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?filter=%28Target%20eq%20%27microsoft.estimator%27%20or%20Target%20eq%20%27microsoft.dft%27%29&top=100&skip=300&api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-98160cad-65a5-11ef-9bce-f8e4e3ddcdd5?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-98160cad-65a5-11ef-9bce-f8e4e3ddcdd5/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "qir.v1", "inputParams": {"errorBudget": 0.001, "qubitParams":
        {"name": "qubit_gate_ns_e3"}, "qecScheme": {"name": "surface_code"}, "items":
        [{"qubitParams": {"name": "qubit_gate_ns_e3"}, "errorBudget": 0.0001}, {"qubitParams":
        {"name": "qubit_gate_ns_e4"}, "errorBudget": 0.0001}]}, "metadata": {"qiskit":
        "True", "name": "circuit-215", "num_qubits": "3", "metadata": "{}"}, "sessionId":
        null, "jobPriority": "Basic", "status": "Succeeded", "jobType": "QuantumComputing",
        "outputDataFormat": "microsoft.resource-estimates.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-98160cad-65a5-11ef-9bce-f8e4e3ddcdd5/rawOutputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "beginExecutionTime": "2024-08-29T01:25:38.7092459Z", "cancell[...]
