interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.14.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 03:03:54 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:70746519-401e-0043-2928-c679b1000000\nTime:2021-10-21T03:03:54.9400238Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 03:03:55 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00\x98\xd8pa\x02\xffU\x8c\xc1\x0e\x820\x10D\x7f\x85\xec\x99\x9a\xedV\x0ez\xf3\x0f<p\x93\xc6T\xa8\x86\x04ZB\x8b\x89!\xfdwk9`O;;ofV\x18\xb5W\x9d\xf2\n\xce\xc5\nF\x8d:\n\xa8\xb5\xf3\xecj\xa7eP\xbe\xb7\xe6b\x8cVCo^\xac\x01B\xe2\x1c\t\x19!\x8a\x8a\x1a\x80P\x16\xd0Z\xe7\xef\xcf\xc5\xb4\xbfx\x9az\xeb\xd9m\x1a\xf8\x01!f\xfcgJ\xe3\xd3\xf2\xb0\xe9\xd7\xf3\xe8\xa2q[\xa1\x8d\x87\x89\xe8\xf5]rxY\xa0\x8c\xbb\x1b\xa9v@\x198e\x80\xef\x80v
      \xb2\x06;f\xe4\xaf\x92\x03\x92A\x86\xf0\x05\x82\x03H&\x1e\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 21 Oct 2021 03:03:55 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PopulationAnnealing-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      200}}, "providerId": "Microsoft", "target": "microsoft.populationannealing.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        200}}, "providerId": "microsoft", "target": "microsoft.populationannealing.cpu",
        "metadata": null, "name": "Test-PopulationAnnealing-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-10-21T03:03:56.2097957+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 03:03:57 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PopulationAnnealing-%252220210101-000000%2522-85734284-321b-11ec-82d4-acde48001122.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"alpha": 2.0, "beta": {"final": 5.0, "initial":
        0.0, "type": "linear"}, "beta_start": 0.0, "beta_stop": 5.0, "constant_population":
        false, "population": 72, "seed": 619111288, "sweeps": 200, "sweeps_per_replica":
        1}, "solutions": [{"configuration": {"0": 1, "1": 1, "2": 0, "3": 1}, "cost":
        -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-569/570
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - P7ksZDWQ33d57mxXMrYTGg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 03:03:56 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
[...]
