interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.31.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "invalid_grant", "error_description": "AADSTS53003: Access
        has been blocked by Conditional Access policies. The access policy does not
        allow token issuance. Trace ID: bf116947-3f99-440d-a914-0dfd76352b00 Correlation
        ID: 51ac7453-ecd0-442d-970f-19ff11305aaf Timestamp: 2025-05-21 07:06:23Z",
        "error_codes": [53003], "timestamp": "2025-05-21 07:06:23Z", "trace_id": "bf116947-3f99-440d-a914-0dfd76352b00",
        "correlation_id": "51ac7453-ecd0-442d-970f-19ff11305aaf", "error_uri": "https://login.microsoftonline.com/error?code=PLACEHOLDER",
        "suberror": "message_only", "claims": "{\"access_token\":{\"capolids\":{\"essential\":true,\"values\":[\"37b3c007-8510-40aa-9c46-819fdb20bf63\",\"3d79d567-88b8-4901-ae54-01418818a0e8\"]}}}"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize
  response:
    body:
      string: '{"tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1", "metadata": [{"preferred_network": "login.microsoftonline.com",
        "preferred_cache": "login.windows.net", "aliases": ["login.microsoftonline.com",
        "login.windows.net", "login.microsoft.com", "sts.windows.net"]}, {"preferred_network":
        "login.partner.microsoftonline.cn", "preferred_cache": "login.partner.microsoftonline.cn",
        "aliases": ["login.partner.microsoftonline.cn", "login.chinacloudapi.cn"]},
        {"preferred_network": "login.microsoftonline.de", "preferred_cache": "login.microsoftonline.de",
        "aliases": ["login.microsoftonline.de"]}, {"preferred_network": "login.microsoftonline.us",
        "preferred_cache": "login.microsoftonline.us", "aliases": ["login.microsoftonline.us",
        "login.usgovcloudapi.net"]}, {"preferred_network": "login-us.microsoftonline.com",
        "preferred_cache": "login-us.microsoftonline.com", "aliases": ["login-us.microsoftonline.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2024-10-01-preview&filter=%28ProviderId%20eq%20%27ionq%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Failed", "jobFailurePolicy": "Abort", "jobPriority":
        "Basic", "name": "Qiskit Session", "id": "43e0c690-e7f2-11ee-98c1-00155dfe59ef",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-03-22T02:17:00.2696796Z",
        "endExecutionTime": "2024-03-22T02:17:01.2971486Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "Succeeded", "jobFailurePolicy": "Abort",
        "jobPriority": "Basic", "name": "session-f09e899e-3820-11ef-af8f-f8e4e3ddcdd5",
        "id": "f09e899e-3820-11ef-af8f-f8e4e3ddcdd5", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2024-07-02T03:12:40.1190431Z", "endExecutionTime":
        "2024-07-02T03:12:48.5483796Z", "costEstimate": {"currencyCode": "USD", "events":
        [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status": "Succeeded",
        "jobFailurePolicy": "Abort", "jobPriority": "Basic", "name": "session-0b9add69-3821-11ef-b992-f8e4e3ddcdd5",
        "id": "0b9add69-3821-11ef-b992-f8e4e3ddcdd5", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2024-07-02T03:13:25.3995322Z", "endExecutionTime":
        "2024-07-02T03:13:34.0539283Z", "costEstimate": {"currencyCode": "USD", "events":
        [], "estimatedTotal": 0.0}, "itemType": "Session"}[...]
