interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.26.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Unavailable", "averageQueueTime":
        2100100, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1",
        "currentAvailability": "Unavailable", "averageQueueTime": 1747748, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2", "currentAvailability":
        "Unavailable", "averageQueueTime": 614049, "statusPage": "https://status.ionq.[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 09 Jan 2024 20:08:39 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:4c37c3c8-d01e-006d-2f37-43988b000000\nTime:2024-01-09T20:08:40.1980899Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 09 Jan 2024 20:08:40 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: b'60\n\nO       97.873900000   103.017000000   100.816000000\nH       98.128600000   103.038000000    99.848800000\nH       97.173800000   102.317000000   100.960000000\nO      100.645000000   100.169000000    95.891500000\nH      101.491000000   100.305000000    96.406200000\nH       99.888700000   100.618000000    96.367800000\nO       99.814000000   100.835000000   101.232000000\nH       99.329200000    99.976800000   101.063000000\nH       99.151600000   101.561000000   [...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "azure-quantum-dft-job",
      "providerId": "microsoft-elements", "target": "microsoft.dft", "itemType": "Job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
      "invlidTask", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
      {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 100,
      "convergeThreshold": 1e-08}}]}, "outputDataFormat": "microsoft.dft-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
        "invlidTask", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
        {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 100,
        "convergeThreshold": 1e-08}}]}, "metadata": null, "sessionId": null, "status":
        "Waiting", "jobType": "QuantumChemistry", "outputDataFormat": "microsoft.dft-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "azure-quantum-dft-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "microsoft-elements",
        "target": "microsoft.dft", "creationTime": "2024-01-09T20:08:41.6049362+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOL[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 09 Jan 2024 20:08:45 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-dft-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 09 Jan 2024 20:08:42 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
version: 1
