interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=%28Target%20eq%20%27microsoft.estimator%27%20or%20Target%20eq%20%27microsoft.dft%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-9264253c-dd75-11ee-9499-00155dc91505?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-9264253c-dd75-11ee-9499-00155dc91505/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"errorBudget": 0.01, "items":
        [{"qubitParams": {"name": "qubit_gate_us_e3"}}, {"qubitParams": {"name": "qubit_gate_us_e4"}},
        {"qubitParams": {"name": "qubit_gate_ns_e3"}}, {"qubitParams": {"name": "qubit_gate_ns_e4"}},
        {"qubitParams": {"name": "qubit_maj_ns_e4"}, "qecScheme": {"name": "floquet_code"}},
        {"qubitParams": {"name": "qubit_maj_ns_e6"}, "qecScheme": {"name": "floquet_code"}}],
        "resumeAfterFailedItem": true, "fileUris": {"fcidumpUri": "https://aka.ms/fcidump/XVIII-cas4-fb-64e-56o"}},
        "metadata": null, "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing",
        "outputDataFormat": "microsoft.resource-estimates.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-9264253c-dd75-11ee-9499-00155dc91505/rawOutputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-03-08T17:59:19.7571833Z", "cancellationTime":
        null, "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling":
        false, "tags": [], "name": "azure-quantum-job", "id": "9264253c-dd75-11ee-9499-00155dc91505",
        "providerId": "microsoft-qc", "target": "microsoft.estimator", "creationTime":
        "2024-03-08T17:59:15.4849174Z", "endExecutionTime": "2024-03-08T18:00:01.4208021Z",
        "costEstimate": null, "itemType": "Job"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-4391412b-dd79-11ee-977a-5414f37777d8?sv=PLACEHOLDER&sr=c&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-4391412b-dd79-11ee-977a-5414f37777d8/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
        "spe", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
        {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 100,
        "convergeThreshold": 1e-08}}]}, "metadata": null, "sessionId": null, "status":
        "Succeeded", "jobType": "QuantumChemistry", "outputDataFormat": "microsoft.dft-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-4391412b-dd79-11ee-977a-5414f37777d8/rawOutputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-03-08T18:26:06.752335Z", "cancellationTime": null,
        "quantumComputingData": null, "errorDat[...]
