interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.29.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1755298461, "ext_expires_in":
        1755298461, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Failed", "jobFailurePolicy": "Abort", "name":
        "Qiskit Session", "id": "43e0c690-e7f2-11ee-98c1-00155dfe59ef", "providerId":
        "ionq", "target": "ionq.simulator", "creationTime": "2024-03-22T02:17:00.2696796Z",
        "endExecutionTime": "2024-03-22T02:17:01.2971486Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "Succeeded", "jobFailurePolicy": "Abort",
        "name": "Qiskit Session", "id": "513d65be-e7f2-11ee-98c1-00155dfe59ef", "providerId":
        "rigetti", "target": "rigetti.sim.qvm", "creationTime": "2024-03-22T02:17:22.7188598Z",
        "endExecutionTime": "2024-03-22T02:17:41.1794839Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "Qiskit Session", "id":
        "a02952c6-ee0c-11ee-83e0-00155d1bd86c", "providerId": "rigetti", "target":
        "rigetti.sim.qvm", "creationTime": "2024-03-29T20:40:48.9980176Z", "endExecutionTime":
        "2024-03-29T20:41:08.763544Z", "costEstimate": {"currencyCode": "USD", "events":
        [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status": "Succeeded",
        "jobFailurePolicy[...]
