interactions:
- request:
    body: 'b''{"containerName": "87509fae-bf5a-11eb-8f0e-acde48001122"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/87509fae-bf5a-11eb-8f0e-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 28 May 2021 02:15:10 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/87509fae-bf5a-11eb-8f0e-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:a74183da-d01e-000c-7867-5308e5000000\nTime:2021-05-28T02:15:11.3711912Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: b'\x1f\x8b\x08\x00.R\xb0`\x02\xff\\\x8cA\n\x830\x14D\xaf\xf2\x99\xf5\xa7\x18\xed*W\x91\xe0"\xa6\x92Ec1\xa9
      !w7\xb1`\xb4\xbb\x99\xf7\x98\x89\xd0\xb3\x0f\xc3\xeb\xebt\xb0\xb3\x83\x8cX\xcd\xe2\x8f\x08\xf1h\xc0\x08\xdb\xc7\xe4b\xbduS\xa9fy{\xc8>BC\x92h\x98`\xc7\x0c\xa8\xcfQ0\xb5*\xf1\xcf\xb5\x17W\x04Sw\xba\xbf\xd9\xc9\xc5}R\xbf*\xbf\xfdt\x95\xe7\xf8TI\xa5\xb4\x03\x00\x00\xff\xff\x03\x00\x89\xdb\\A\xd4\x00\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:11 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/87509fae-bf5a-11eb-8f0e-acde48001122/87509fae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgMA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<BlockList><Latest>ICAgICAgICAgMA==</Latest></BlockList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-blob-content-encoding:
      - gzip
      x-ms-blob-content-type:
      - application/json
      x-ms-date:
      - Fri, 28 May 2021 02:15:11 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-meta-avg_coupling:
      - '2.3333333333333335'
      x-ms-meta-max_coupling:
      - '3'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '6'
      x-ms-meta-type:
      - ising
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/87509fae-bf5a-11eb-8f0e-acde48001122/87509fae-bf5a-11eb-8f0e-acde48001122?comp=blocklist&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 28 May 2021 02:15:12 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/87509fae-bf5a-11eb-8f0e-acde48001122/87509fae-bf5a-11eb-8f0e-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: '{"cost_function": {"version": "1.0", "type": "ising", "terms": [{"c":
        10, "ids": [0, 1, 2]}, {"c": 20, "ids": [1, 2, 3]}, {"c": 0, "ids": [0, 1]},
        {"c": 1, "ids": [1, 2]}, {"c": 2, "ids": [2, 3]}, {"c": 3, "ids": [3, 4]}]},
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 28 May 2021 02:15:11 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
version: 1
