interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus
  response:
    body:
      string: '{"value": [{"id": "Microsoft", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.paralleltempering-parameterfree.cpu", "currentAvailability":
        "Available", "averageQueueTime": 0, "statusPage": null}, {"id": "microsoft.paralleltempering.cpu",
        "currentAvailability": "Available", "averageQueueTime": 0, "statusPage": null},
        {"id": "microsoft.simulatedannealing-parameterfree.cpu", "currentAvailability":
        "Available", "averageQueueTime": 0, "statusPage": null}, {"id": "microsoft.simulatedannealing.cpu",
        "currentAvailability": "Available", "averageQueueTime": 0, "statusPage": null},
        {"id": "microsoft.tabu-parameterfree.cpu", "currentAvailability": "Ava[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Sep 2022 23:41:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:c21c2358-901e-006f-3b4a-cd951e000000\nTime:2022-09-20T23:41:27.5286283Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Sep 2022 23:41:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: 'b''// Generated from Cirq v1.0.0\n\nOPENQASM 2.0;\ninclude "qelib1.inc";\n\n\n//
      Qubits: [q(0), q(1), q(2)]\nqreg q[3];\ncreg m_q0[1];\ncreg m_q1[1];\ncreg m_q2[1];\n\n\nh
      q[0];\ncx q[0],q[1];\ncx q[1],q[2];\nmeasure q[0] -> m_q0[0];\nmeasure q[1]
      -> m_q1[0];\nmeasure q[2] -> m_q2[0];\n'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 20 Sep 2022 23:41:27 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "cirq-job", "containerUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 500}, "providerId":
      "honeywell", "target": "honeywell.hqs-lt-s1-apival", "metadata": {"qubits":
      "3", "repetitions": "500", "measurement_dict": "{\''q0\'': [0], \''q1\'': [1],
      \''q2\'': [2]}"}, "outputDataFormat": "honeywell.quantum-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 500},
        "providerId": "honeywell", "target": "honeywell.hqs-lt-s1-apival", "metadata":
        {"qubits": "3", "repetitions": "500", "measurement_dict": "{''q0'': [0], ''q1'':
        [1], ''q2'': [2]}"}, "name": "cirq-job", "id": "00000000-0000-0000-0000-000000000000",
        "status": "Waiting", "outputDataFormat": "honeywell.quantum-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-09-20T23:41:27.8795365+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 20 Sep 2022 23:41:33 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dcirq-job-00000000-0000-0000-0000-000000000000.output.json
  response:
    body:
      string: '{"m_q0": ["0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0",
        "0", "0", "0", [...]
[...]
