interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.21.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:09:28 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:a34560ed-301e-0039-80ea-7d496b000000\nTime:2023-05-03T18:09:28.9994613Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-12-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:09:29 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-12-02'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00V\xa3Rd\x02\xffU\xccM\n\xc3 \x10\x05\xe0\xab\x84Y\xc7\xe2OSHO\xd1EvM(\xd6LK
      \x9a\xa0\xa6P\x82w\xaf\x98\x85u\xe5\xf8\xbe\x99\xb7\x83F/G\xe9%\\\xab\x1d\x8c\xd4\x18\x07\xe8\xd0yr\x93V\xce3\xce\x1d\xea\x15\xedd\xde\xa4\x07N\xb9\xa0\r\x15\x841\xda\xf2K\x0f\x10\xea\n\xd4\xe2\xfc\xe3\xb5\x19\xe5\xa7\xc5\xa4\xa2\x0fZw\xcc\xc0N\x14\xe2\x8e\xff\xae\xa9z\xdd\x9eK\xfa\xa3\xd5.\x06\xf7\x1dT|\x88\x88\xd94\xa6\x84\xd5\x15\x1db\xef!M\x06^@[\x00\xcb\xc03\x88\xe2\x82\x9c\x0b\xf9;)\x81\x0fa\x08\xe1\x07\xc1\xb1~\xe0\x1c\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 03 May 2023 18:09:29 GMT
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "Test-ParallelTempering-\\"20210101-000000\\"",
      "providerId": "Microsoft", "target": "microsoft.paralleltempering.cpu", "itemType":
      "Job", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      100}}, "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        100}}, "metadata": null, "sessionId": null, "status": "Waiting", "jobType":
        "Optimization", "outputDataFormat": "microsoft.qio-results.v2", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "Test-ParallelTempering-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "microsoft", "target":
        "microsoft.paralleltempering.cpu", "creationTime": "2023-05-03T18:09:30.146617+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOL[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:09:32 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-ParallelTempering-%252220210101-000000%2522-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"all_betas": {"segments": [{"type": "constant",
        "value": 0.1}, {"type": "constant", "value": 0.5}, {"type": "constant", "value":
        1.0}, {"type": "constant", "value": 2.0}, {"type": "constant", "value": 4.0}],
        "type": "segments"}, "seed": 4062869224, "sweeps": 100}, "solutions": [{"configuration":
        {"0": 1, "1": 1, "2": 0, "3": 1}, "cost": -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-659/660
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - VeFGNK30noh+0DG5ObaQmQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 03 May 2023 18:09:30 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 206
      message: Partial Content
[...]
