interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.23.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/quantum-job-2e89a3fa-b776-4845-a688-9ca4950f030e",
        "inputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-2e89a3fa-b776-4845-a688-9ca4950f030e/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.ionq-ir.v3", "inputParams": {"shots": "1000"},
        "metadata": {"entryPointInput": "3", "outputMappingBlobUri": "https://mystorage.blob.core.windows.net/quantum-job-2e89a3fa-b776-4845-a688-9ca4950f030e/mappingData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw"},
        "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-2e89a3fa-b776-4845-a688-9ca4950f030e/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "beginExecutionTime": "2023-09-08T19:53:44.466Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Generate three random bits", "id": "2e89a3fa-b776-4845-a688-9ca4950f030e",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-09-08T19:53:40.6390802Z",
        "endExecutionTime": "2023-09-08T19:53:44.488Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/quantum-job-bc505f6a-6bd8-4df6-980f-349794ae36f5",
        "inputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-bc505f6a-6bd8-4df6-980f-349794ae36f5/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.ionq-ir.v3", "inputParams": {"shots": "1000"},
        "metadata": {"entryPointInput": "3", "outputMappingBlobUri": "https://mystorage.blob.core.windows[...]
