interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1745070487, "ext_expires_in":
        1745070487, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Unavailable", "averageQueueTime":
        886604, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1",
        "currentAvailability": "Available", "averageQueueTime": 285556, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2", "currentAvailability":
        "Unavailable", "averageQueueTime": 2622781, "statusPage": "https://status.ionq.co"[...]
[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Apr 2024 13:48:10 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:ade075a4-c01e-0003-5860-92cda4000000\nTime:2024-04-19T13:48:11.1943183Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Apr 2024 13:48:11 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: b'60\n\nO       97.873900000   103.017000000   100.816000000\nH       98.128600000   103.038000000    99.848800000\nH       97.173800000   102.317000000   100.960000000\nO      100.645000000   100.169000000    95.891500000\nH      101.491000000   100.305000000    96.406200000\nH       99.888700000   100.618000000    96.367800000\nO       99.814000000   100.835000000   101.232000000\nH       99.329200000    99.976800000   101.063000000\nH       99.151600000   101.561000000   [...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "azure-quantum-dft-job",
      "providerId": "microsoft-elements", "target": "microsoft.dft", "itemType": "Job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
      "spe", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
      {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 1,
      "convergeThreshold": 1e-08}}]}, "outputDataFormat": "microsoft.dft-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
        "inputDataFormat": "microsoft.xyz.v1", "inputParams": {"tasks": [{"taskType":
        "spe", "basisSet": {"name": "def2-svp", "cartesian": false}, "xcFunctional":
        {"name": "m06-2x", "gridLevel": 4}, "scf": {"method": "rks", "maxSteps": 1,
        "convergeThreshold": 1e-08}}]}, "metadata": null, "sessionId": null, "status":
        "Waiting", "jobType": "QuantumChemistry", "outputDataFormat": "microsoft.dft-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "azure-quantum-dft-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "microsoft-elements",
        "target": "microsoft.dft", "creationTime": "2024-04-19T13:48:12.5627908+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sr=c&sig=PLACEHOLDER&se=205[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Apr 2024 13:50:42 GMT
      x-ms-version:
      - '2023-11-03'
    method: HEAD
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-dft-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 19 Apr 2024 13:48:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 19 Apr 2024 13:50:43 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-dft-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"results": [{"id": null, "input_data": {"return_result": null, "properties":
        {"calcinfo_natom": 60, "calcinfo_nbasis": 480, "calcinfo_nalpha": 100, "calcinfo_nbeta":
        100, "scf_iterations": 1, "nuclear_repulsion_energy": 2286.8096438080293},
        "id": null, "schema_name": "qcschema_input", "schema_version": 1, "molecule":
        {"schema_name": "qcschema_molecule", "schema_version": 2, "validated": true,
        "symbols": ["O", "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O",
        "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O",
        "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O",
        "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O", "H", "H", "O",
        "H", "H"], "geometry": [184.95486583, 194.67391627, 190.51462906, 185.43617907,
        194.71360051, 188.68688596, 183.63186857, 193.35110798, 190.78674963, 190.1914859,
        189.29197626, 181.20867276, 191.7901942, 189.54897901, 182.1813148, 188.76228603,
        190.14046329, 182.10874931, 188.62112349, 190.55053386, 191.30075513, 187.70498426,
        188.9287709, 190.98139142, 187.3693689, 191.92247503, 191.64468529, 186.7125001,
        186.16107802, 184.73603555, 188.56084122, 186.41562413, 185.03574611, 18[...]
