interactions:
  - request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.30.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1756429716, "ext_expires_in":
        1756429716, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2024-10-01-preview&filter=CreationTime%20ge%202024-08-01&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 100,
        "shots": 100}, "metadata": {"qiskit": "True", "name": "Single qubit random",
        "num_qubits": "1", "metadata": "{}"}, "sessionId": null, "status": "Succeeded",
        "jobType": "QuantumComputing", "outputDataFormat": "honeywell.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be/rawOutputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "beginExecutionTime": "2024-08-08T18:37:34.936213Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Single qubit random", "id": "450dbbf0-55b5-11ef-9d63-00155deec9be",
        "providerId": "quantinuum", "target": "quantinuum.sim.h1-1sc", "creationTime":
        "2024-08-08T18:37:31.9935522Z", "endExecutionTime": "2024-08-08T18:37:34.93644Z",
        "costEstimate": {"currencyCode": "USD", "events": [{"dimensionId": "hqc",
        "dimensionName": "HQC", "measureUnit": "hqc", "amountBilled": 0.0, "amountConsumed":
        0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-903bebec-55b5-11ef-9d63-00155deec9be?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-903bebec-55b5-11ef-9d63-00155deec9be/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "honeywell.openqasm.[...]
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?filter=CreationTime%20ge%202024-08-01&top=100&skip=100&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-5f1fb526-eb35-11ef-aacd-5414f37777d8?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-5f1fb526-eb35-11ef-aacd-5414f37777d8/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "target_profile": "Adaptive_RI"}, "metadata": null, "sessionId":
        "5e625404-eb35-11ef-a03d-5414f37777d8", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "honeywell.qir.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-5f1fb526-eb35-11ef-aacd-5414f37777d8/rawOutputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "beginExecutionTime": "2025-02-15T00:40:02.612Z",[...]
