interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.21.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:10:12 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:f8509617-901e-006d-7eea-7d063c000000\nTime:2023-05-03T18:10:13.3494067Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-12-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:10:13 GMT
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-12-02'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00\x82\xa3Rd\x02\xffU\xccM\x0e\x820\x10\x05\xe0\xab\x90YS\xd3\x1fY\xe8\xce3\xe8N\x88\xa90\x9a&\xb4%t01\xa4w\xb7)\x0b\xec\xaa\xd3\xf7\xcd\xbc\x15,\x92\x1e4i8W+8m1\rp\xc3@\xecj\xec2j\xc2\xe1\xe2\x1c\xea\xd1\xb87kAr\xa9x\xc3\x15\x13Bp\xc1[\x80XW\xd0\xfb@\x8f\xd7\xe2z2\xde\xe5\xa6\x0f\xcea\x9bA\x1c8\xa4\x1d\xfaN\xb9{Z\x9e>\xffq\xb6!\x05\xf7\x15\xfa\xf40\x9523\xe4D\xd4\x15\xefR\xef&\xcd\x0e\xb2\x80S\x01b\x07\xb9\x83*.\xd8\xb1\x90\xbf\x93\x12d\x17\xbb\x18\x7f\xb2O\x81\x87\x1d\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 03 May 2023 18:10:14 GMT
      x-ms-version:
      - '2021-12-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-12-02'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "Test-SimulatedAnnealing-\\"20210101-000000\\"",
      "providerId": "Microsoft", "target": "microsoft.simulatedannealing.cpu", "itemType":
      "Job", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"beta_start":
      0}}, "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"beta_start":
        0}}, "metadata": null, "sessionId": null, "status": "Waiting", "jobType":
        "Optimization", "outputDataFormat": "microsoft.qio-results.v2", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "Test-SimulatedAnnealing-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "microsoft", "target":
        "microsoft.simulatedannealing.cpu", "creationTime": "2023-05-03T18:10:14.2730483+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOL[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 03 May 2023 18:10:15 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-12-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-SimulatedAnnealing-%252220210101-000000%2522-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"beta_start": 0.0, "beta_stop": 0.01, "restarts":
        72, "seed": 4106690471, "sweeps": 10000}, "solutions": [{"configuration":
        {"0": 1, "1": 1, "2": 0, "3": 1}, "cost": -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-412/413
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - BgfcbtKE4D1kSqVfntuk8A==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 03 May 2023 18:10:14 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-12-02'
    status:
      code: 206
      message: Partial Content
[...]
