interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.29.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1755298235, "ext_expires_in":
        1755298235, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:50:35 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:6c599360-001e-0011-2765-efd9de000000\nTime:2024-08-15T22:50:36.8483170Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:50:36 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: b'\nDECLARE ro BIT[2]\n\nH 0\nCNOT 0 1\n\nMEASURE 0 ro[0]\nMEASURE 1 ro[1]\n'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 15 Aug 2024 22:50:36 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "qdk-python-test",
      "providerId": "rigetti", "target": "rigetti.sim.qvm", "itemType": "Job", "containerUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "rigetti.quil.v1", "inputParams": {"count": 5}, "outputDataFormat":
      "rigetti.quil-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER&st=2024-08-15T22%3A50%3A37Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A50%3A36Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=ucC8uhQATMt05OfPzUhK%2F597ym8d%2BYVF9Dr8O3Mi9SY%3D",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "qdk-python-test",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "rigetti", "target":
        "rigetti.sim.qvm", "creationTime": "2024-08-15T22:50:37.4030633+00:00", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2024-08-15T22%3A50%3A37Z&se=2050-01-01T00%3A00%3A00Z&sr=c&sp=rcwl&sig=PLACEHOLDER&st=2024-08-15T22%3A50%3A37Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.input.json&sig=PLACEHOLDER&st=2024-08-15T22%3A50%3A37Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.output.json&sig=zeVbawLh%2FgSbbwYJNCWAEr2a33srjPuFFx7uUEIiZGA%3D",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "qdk-python-test",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "rigetti", "target":
        "rigetti.sim.qvm", "creationTime": "2024-08-15T22:50:37.4030633+00:00", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=7
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2024-08-15T22%3A50%3A42Z&se=2050-01-01T00%3A00%3A00Z&sr=c&sp=rcwl&sig=PLACEHOLDER&st=2024-08-15T22%3A50%3A42Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.input.json&sig=PLACEHOLDER&st=2024-08-15T22%3A50%3A42Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.output.json&sig=Ookx3CzFymeUSwI%2FXjb8iovCRAC1hBzIpDn9Lr4GtI0%3D",
        "beginExecutionTime": "2024-08-15T22:50:40.7378563Z", "cancellationTime":
        null, "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling":
        false, "tags": [], "name": "qdk-python-test", "id": "00000000-0000-0000-0000-000000000001",
        "providerId": "rigetti", "target": "rigetti.sim.qvm", "creationTime": "2024-08-15T22:50:37.4030633+00:00",
        "endExecutionTime": "2024-08-15T22:50:41.5905807Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "qpu_time_centiseconds", "dimensionName":
        "QPU Execution Time", "measureUnit": "10ms (rounded up)", "amountBilled":
        0.0, "amountConsumed": 0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType":
        "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:50:41 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&st=2024-08-15T22%3A50%3A42Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B%20filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.output.json&sig=Ookx3CzFymeUSwI%2FXjb8iovCRAC1hBzIpDn9Lr4GtI0%3D
  response:
    body:
      string: '{"ro": [[0, 0], [1, 1], [1, 1], [1, 1], [0, 0]]}'
    headers:
      content-range:
      - bytes 0-37/38
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - ueCmu54KimqzFfzAN38gkg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 15 Aug 2024 22:50:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 206
      message: Partial Content
version: 1
