interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.34.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1791503857, "ext_expires_in":
        1791503857, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=%28State%20eq%20%27Failed%27%20or%20State%20eq%20%27Cancelled%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-2968d372-e7f0-11ee-9aeb-00155dfe59ef?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-2968d372-e7f0-11ee-9aeb-00155dfe59ef/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100, "count":
        100}, "metadata": {"qiskit": "True", "name": "Hidden shift", "num_qubits":
        "4", "metadata": "{}", "meas_map": "[0, 1, 2, 3]"}, "sessionId": null, "jobPriority":
        "Basic", "status": "Failed", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-2968d372-e7f0-11ee-9aeb-00155dfe59ef/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "lastModifiedTime":
        null, "quantumComputingData": {"count": 1}, "errorData": {"code": "PropertyNotSpecified",
        "message": "The request does not contain a ''quotas'' property."}, "isCancelling":
        false, "tags": [], "name": "Hidden shift", "id": "2968d372-e7f0-11ee-9aeb-00155dfe59ef",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-03-22T02:01:57.5170626Z",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-6e78beaa-e7f0-11ee-9aeb-00155dfe59ef?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-6e78beaa-e7f0-11ee-9aeb-00155dfe59ef/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100, "count":
        100}, "metadata": {"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?filter=%28State%20eq%20%27Failed%27%20or%20State%20eq%20%27Cancelled%27%29&top=100&skip=100&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-3a3fae28-4f83-11ef-8b4a-a0b339c1da8f?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-3a3fae28-4f83-11ef-8b4a-a0b339c1da8f/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"shots": 1000, "count": 1000,
        "items": [{"entryPoint": "circuit-209", "arguments": []}]}, "metadata": {"qiskit":
        "True", "name": "circuit-209", "num_qubits": "5", "metadata": "{\"some\":
        \"data\"}"}, "sessionId": null, "jobPriority": "Basic", "status": "Failed",
        "jobType": "QuantumComputing", "outputDataFormat": "microsoft.quantum-results.v2",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-3a3fae28-4f83-11ef-8b4a-a0b339c1da8f/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "lastModifiedTime":
        null, "quantumComputingData": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?filter=%28State%20eq%20%27Failed%27%20or%20State%20eq%20%27Cancelled%27%29&top=100&skip=200&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-e1c2f3eb-36d6-11f0-8967-f8e4e3ddcdd5",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-e1c2f3eb-36d6-11f0-8967-f8e4e3ddcdd5/inputData",
        "inputDataFormat": "microsoft.qc-schema.v1", "inputParams": {"numberOfFiles":
        1, "inputFiles": ["inputData_0"], "driver": "energy", "model": {"method":
        "m06-2x", "basis": "invalidBasis"}}, "metadata": null, "sessionId": null,
        "jobPriority": "Basic", "status": "Failed", "jobType": "QuantumChemistry",
        "outputDataFormat": "microsoft.dft-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-e1c2f3eb-36d6-11f0-8967-f8e4e3ddcdd5/rawOutputData",
        "beginExecutionTime": "2025-05-22T06:35:28.5555874Z", "cancellationTime":
        null, "lastModifiedTime": null, "quantumComputingData": null, "errorData":
        {"code": "Run[...]
