interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001/jobs?api-version=2024-10-01-preview&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-aac2262b-f786-11ee-a6fd-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-aac2262b-f786-11ee-a6fd-aa03815e5e6b/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "targetCapability": "AdaptiveExecution"}, "metadata": null,
        "sessionId": "00000000-0000-0000-0000-000000000001", "status": "Succeeded",
        "jobType": "QuantumComputing", "outputDataFormat": "microsoft.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-aac2262b-f786-11ee-a6fd-aa03815e5e6b/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-04-10T22:07:31.829789Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Job 1", "id": "aac2262b-f786-11ee-a6fd-aa03815e5e6b",
        "providerId": "quantinuum", "target": "quantinuum.sim.h1-1e", "creationTime":
        "2024-04-10T22:07:09.218404Z", "endExecutionTime": "2024-04-10T22:07:32.697602Z",
        "costEstimate": {"currencyCode": "USD", "events": [{"dimensionId": "ehqc",
        "dimensionName": "EHQC", "measureUnit": "hqc", "amountBilled": 5.01, "amountConsumed":
        5.01, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-acfb73ea-f786-11ee-b346-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-acfb73ea-f786-11ee-b346-aa03815e5e6b/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "[...]
