interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.26.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 17:45:52 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:399fae36-e01e-0049-2280-666e2b000000\nTime:2024-02-23T17:45:53.5753662Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 17:45:53 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: 'b''BC\xc0\xde5\x14\x00\x00\x05\x00\x00\x00b\x0c0$JY\xbef\x8d\xfb\xb4\xaf\x0bQ\x80L\x01\x00\x00\x00!\x0c\x00\x00\xd6\x01\x00\x00\x0b\x02!\x00\x02\x00\x00\x00\x16\x00\x00\x00\x07\x81#\x91A\xc8\x04I\x06\x1029\x92\x01\x84\x0c%\x05\x08\x19\x1e\x04\x8bb\x80\x14E\x02B\x92\x0bB\xa4\x102\x148\x08\x18K\n2R\x88Hp\xc4!#D\x12\x87\x8c\x10A\x92\x02d\xc8\x08\xb1\x14
      CF\x88 \xc9\x012R\x84\x18*(*\x901|\xb0\\\x91 \xc5\xc8\x00\x00\x00\x89 \x00\x00\x15\x00\x00\x002"H\t
      bF\x00!+$\x98[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "azure-quantum-job",
      "providerId": "microsoft-qc", "target": "microsoft.estimator", "itemType": "Job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "qir.v1", "inputParams": {}, "outputDataFormat": "microsoft.resource-estimates.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {}, "metadata": null, "sessionId":
        null, "status": "Waiting", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.resource-estimates.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "azure-quantum-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "microsoft-qc",
        "target": "microsoft.estimator", "creationTime": "2024-02-23T17:45:54.9721557+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-job-00000000-0000-0000-0000-000000000001.input.json",
        "inputDataFormat": "qir.v1", "inputParams": {}, "metadata": null, "sessionId":
        null, "status": "Waiting", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.resource-estimates.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-job-00000000-0000-0000-0000-000000000001.output.json",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "azure-quantum-job", "id": "00000000-0000-0000-0000-000000000001", "providerId":
        "microsoft-qc", "target": "microsoft.estimator", "creationTime": "2024-02-23T17:45:54.9721557+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 23 Feb 2024 17:45:58 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dazure-quantum-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"status": "success", "jobParams": {"qecScheme": {"name": "surface_code",
        "errorCorrectionThreshold": 0.01, "crossingPrefactor": 0.03, "logicalCycleTime":
        "(4 * twoQubitGateTime + 2 * oneQubitMeasurementTime) * codeDistance", "physicalQubitsPerLogicalQubit":
        "2 * codeDistance * codeDistance", "maxCodeDistance": 50}, "errorBudget":
        0.001, "qubitParams": {"instructionSet": "GateBased", "name": "qubit_gate_ns_e3",
        "oneQubitMeasurementTime": "100 ns", "oneQubitGateTime": "50 ns", "twoQubitGateTime":
        "50 ns", "tGateTime": "50 ns", "oneQubitMeasurementErrorRate": 0.001, "oneQubitGateErrorRate":
        0.001, "twoQubitGateErrorRate": 0.001, "tGateErrorRate": 0.001, "idleErrorRate":
        0.001}}, "physicalCounts": {"physicalQubits": 86184, "runtime": 118800, "rqops":
        3333334, "breakdown": {"algorithmicLogicalQubits": 12, "algorithmicLogicalDepth":
        33, "logicalDepth": 33, "numTstates": 31, "clockFrequency": 277777.77777777775,
        "numTfactories": 13, "numTfactoryRuns": 3, "physicalQubitsForTfactories":
        84240, "physicalQubitsForAlgorithm": 1944, "requiredLogicalQubitErrorRate":
        8.417508417508417e-07, "requiredLogicalTstateErrorRate": 1.075268817204301e-05,
        "numTsPerRotation": 12, "cliffordErrorRate": 0.001}}, "physicalCountsFormatted":
        {"runtime": "119 microsecs", "rqops": "3.33M", "physicalQubits": "86.18k",
        "algorithmicLogicalQubits": "12", "algorithmicLogicalDepth": "33", "logicalDepth":
        "33", "numTstates": "31", "numTfactories": "13", "numTfactoryRuns": "3", "physicalQubitsForAlgorithm":
        "1.94k", "physicalQubitsForTfactories": "84.24k", "physicalQubitsForTfactoriesPercentage":
        "97.74 %", "requiredLogicalQubitErrorRate": "8.42e-7", "requiredLogicalTstateErrorRate":
        "1.08e-5", "physicalQubitsPerLogicalQubit": "162", "logicalCycleTime": "4
        microsecs", "clockFrequency": "277.78k", "logicalErrorRate": "3.00e-7", "tfactoryPhysicalQubits":
        "6.48k", "tfactoryRuntime": "47 microsecs", "numInputTstates": "30", "numUnitsPerRound":
        "2", "unitNamePerRound": "15-to-1 space efficient", "codeDistancePerRound":
        "9", "physicalQubitsPerRound": "6.48k", "tfactoryRuntimePerRound": "47 microsecs",
        "tstateLogicalErrorRate": "2.17e-6", "logicalCountsNumQubits": "3", "logicalCountsTCount":
        "7", "logicalCountsRotationCount": "2", "logicalCountsRotationDepth": "2",
        "logicalCountsCczCount": "0", "logicalCountsCcixCount": "0", "logicalCountsMeasurementCount":
        "0", "errorBudget": "1.00e-3", "errorBudgetLogical": "3.33e-4", "errorBudgetTstates":
        "3.33e-4", "errorBudgetRotations": "3.33e-4", "numTsPerRotation": "12", "logicalDepthFactor":
        "constraint not set", "maxTFactories": "constraint not set", "maxDuration":
        "constraint not set", "maxPhysicalQubits": "constraint not set"}, "logicalQubit":
        {"codeDistance": 9, "physicalQubits": 162, "logicalCycleTime": 3600, "logicalErrorRate":
        3.0000000000000015e-07}, "tfactory": {"physicalQubits": 6480, "runtime": 46800,
        "numTstates": 1, "numInputTstates": 30, "numRounds": 1, "numUnitsPerRound":
        [2], "unitNamePerRound": ["15-to-1 space efficient"], "codeDistancePerRound":
        [9], "physicalQubitsPerRound": [6480], "runtimePerRound": [46800], "logicalErrorRate":
        2.165000000000001e-06}, "errorBudget": {"logical": 0.0003333333333333333,
        "tstates": 0.0003333333333333333, "rotations": 0.0003333333333333333}, "logicalCounts":
        {"numQubits": 3, "tCount": 7, "rotationCount": 2, "rotationDepth": 2, "cczCount":
        0, "ccixCount": 0, "measurementCount": 0}, "reportData": {"groups": [{"title":
        "Physical resource estimates", "alwaysVisible": true, "entries": [{"path":
        "physicalCountsFormatted/runtime", "label": "Runtime", "description": "Total
        runtime", "explanation": "This is a runtime estimate for the execution time
        of the algorithm.  In general, the execution time corresponds to the duration
        of one logical cycle (3,600 nanosecs) multiplied by the 33 logical cycles
        to run the algorithm.  If however the duration of a single T factory (here:
        46,800 nanosecs) is larger than the algorithm runtime, we extend the number
        of logical cycles artificially in order to exceed the runtime of a single
        T factory."}, {"path":[...]
