interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.34.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1791503868, "ext_expires_in":
        1791503868, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=CreationTime%20ge%202024-12-01&skip=0&top=100&orderby=CreationTime%20desc&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-7686c87f-a4a2-11f0-b14b-00155d6bf295",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-7686c87f-a4a2-11f0-b14b-00155d6bf295/inputData",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100}, "metadata":
        null, "sessionId": null, "jobPriority": "Basic", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "ionq.quantum-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-7686c87f-a4a2-11f0-b14b-00155d6bf295/rawOutputData",
        "beginExecutionTime": "2025-10-08T23:57:39.013Z", "cancellationTime": null,
        "lastModifiedTime": "2025-10-08T23:57:41.2627599Z", "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "ionq-job", "id": "7686c87f-a4a2-11f0-b14b-00155d6bf295", "providerId": "ionq",
        "target": "ionq.simulator", "creationTime": "2025-10-08T23:56:55.7433116Z",
        "endExecutionTime": "2025-10-08T23:57:40.013Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-6dce7a4b-a4a2-11f0-9fbf-00155d6bf295",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-6dce7a4b-a4a2-11f0-9fbf-00155d6bf295/inputData",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100}, "metadata":
        null, "sessionId": null, "jobPriority": "Basic", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "ionq.quantum-results.v1", "outputDa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?filter=CreationTime%20ge%202024-12-01&orderby=CreationTime%20desc&top=100&skip=100&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-8ef74604-a3df-11f0-9377-00155d6bf295",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-8ef74604-a3df-11f0-9377-00155d6bf295/inputData",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "target_profile": "Base"}, "metadata": null, "sessionId":
        null, "jobPriority": "Basic", "status": "Succeeded", "jobType": "QuantumComputing",
        "outputDataFormat": "microsoft.quantum-results.v2", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-8ef74604-a3df-11f0-9377-00155d6bf295/outputData",
        "beginExecutionTime": "2025-10-08T00:41:48.948842Z", "cancellationTime": null,
        "lastModifiedTime": "2025-10-08T00:41:50.0002836Z", "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "azure-quantum-job", "id": "8ef74604-a3df-11f0-9377-00155d6bf295", "providerId":
        "rigetti", "target": "rigetti.sim.qvm", "creationTime": "2025-10-08T00:41:44.0447429Z",
        "endExecutionTime": "2025-10-08T00:41:49.6622181Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "qpu_time_centiseconds", "dimensionName":
        "QPU Execution Time", "measureUnit": "10ms (rounded up)", "amountBilled":
        0.0, "amountConsumed": 0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType":
        "Job"}, {"status": "Failed", "jobFailurePolicy": "Continue", "jobPriority":
        "Basic", "name": "session-8c3989f5-a3df-11f0-bd27-00155d6bf295", "id": "8c3989f5-a3df-11f0-bd27-00155d6bf295",
        "providerId": "microsoft.test.firstparty", "target": "echo-quantinuum", "creationTime":
        "2025-10-08T00:41:37.4592723Z", "endExecutionTime": "2025-10-08T00:42:09.1808127Z",
        "costEstimate": null, "itemType": "Session"}, {"status": "Succeeded", "jobFailurePolicy":
        "Abort", "jobPriority": "Basic", "name": "session-887814ad-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?filter=CreationTime%20ge%202024-12-01&orderby=CreationTime%20desc&top=100&skip=200&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-061023de-a3d7-11f0-9a36-00155d6bf295",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-061023de-a3d7-11f0-9a36-00155d6bf295/inputData",
        "inputDataFormat": "rigetti.quil.v1", "inputParams": {"skipQuilc": false,
        "count": 5}, "metadata": null, "sessionId": null, "jobPriority": "Basic",
        "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "rigetti.quil-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-061023de-a3d7-11f0-9a36-00155d6bf295/rawOutputData",
        "beginExecutionTime": "2025-10-07T23:40:42.0895861Z", "cancellationTime":
        null, "lastModifiedTime": "2025-10-07T23:40:43.3818419Z", "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "qdk-python-test", "id": "061023de-a3d7-11f0-9a36-00155d6bf295", "providerId":
        "rigetti", "target": "rigetti.sim.qvm", "creationTime": "2025-10-07T23:40:39.7667014Z",
        "endExecutionTime": "2025-10-07T23:40:42.7696782Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "qpu_time_centiseconds", "dimensionName":
        "QPU Execution Time", "measureUnit": "10ms (rounded up)", "amountBilled":
        0.0, "amountConsumed": 0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType":
        "Job"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-0164b3cf-a3d7-11f0-bb8c-00155d6bf295",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-0164b3cf-a3d7-11f0-bb8c-00155d6bf295/inputData",
        "inputDataFormat": "qir.v1", "inputParams": {"count": 10, "shots": 10, "items":
        [{"entryPoint": "Qiskit Sample - 3-qubit GHZ circuit", "arguments": []}]},
        "metadata": {"qiskit": "True", "name": "Qiskit Sample - 3-qubit GHZ circuit",
        "num_qubits": "4", "metadata": "{}"}, "sessionId": null, "jobPriority": "Basic",
        "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.quantum-results.v2", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-0164b3cf-a3d7-11f0-bb8c-00155d6bf295/outputData",
        "beginExecutionTime": "2025-10-07T23:43:27.863969Z", "cancellationTime": null,
        "lastModifiedTime": "2025-10-07T23:43:43.9750759Z", "quantumComputingData":
        {"count": 1}, "[...]
[...]
