interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2024-10-01-preview&filter=CreationTime%20ge%202024-08-01&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 100,
        "shots": 100}, "metadata": {"qiskit": "True", "name": "Single qubit random",
        "num_qubits": "1", "metadata": "{}"}, "sessionId": null, "status": "Succeeded",
        "jobType": "QuantumComputing", "outputDataFormat": "honeywell.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net/job-450dbbf0-55b5-11ef-9d63-00155deec9be/rawOutputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "beginExecutionTime": "2024-08-08T18:37:34.936213Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Single qubit random", "id": "450dbbf0-55b5-11ef-9d63-00155deec9be",
        "providerId": "quantinuum", "target": "quantinuum.sim.h1-1sc", "creationTime":
        "2024-08-08T18:37:31.9935522Z", "endExecutionTime": "2024-08-08T18:37:34.93644Z",
        "costEstimate": {"currencyCode": "USD", "events": [{"dimensionId": "hqc",
        "dimensionName": "HQC", "measureUnit": "hqc", "amountBilled": 0.0, "amountConsumed":
        0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-903bebec-55b5-11ef-9d63-00155deec9be?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-903bebec-55b5-11ef-9d63-00155deec9be/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "honeywell.openqasm.[...]
