interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=CreationTime%20le%202024-03-01&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-372ace5a-d65e-11ee-b116-00155db56db0?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-372ace5a-d65e-11ee-b116-00155db56db0/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "atomcomputing.openqasm.v1", "inputParams": {"shots": 100},
        "metadata": null, "sessionId": null, "status": "Failed", "jobType": "QuantumComputing",
        "outputDataFormat": "custom", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-372ace5a-d65e-11ee-b116-00155db56db0/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        {"count": 1}, "errorData": {"code": "PartnerCallFailed", "message": "Call
        to partner failed unexpectedly. RequestUri ''https://staging.api.atom-computing.com/azure-quantum/v1/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Solutions/applications/myworkspace-atomcomputing/jobs/476dcfeb-e27e-4da1-af2b-453a52608142''.
        StatusCode ''NotFound''. Error response ''{\"detail\":\"Not Found\"}''."},
        "isCancelling": false, "tags": [], "name": "My first Atom job", "id": "372ace5a-d65e-11ee-b116-00155db56db0",
        "providerId": "atomcomputing", "target": "atomcomputing.sim.valkyrie-emulator",
        "creationTime": "2024-02-28T17:24:24.5931645Z", "endExecutionTime": null,
        "costEstimate": null, "itemType": "Job"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-5bfab0ba-d65e-11ee-b116-00155db56db0?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-5bfab0ba-d65e-11ee-b116-00155db56db0/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "atomcomputing.openqasm.v1", "inputParams": {"shots": 100},
        "metadata": null, "session[...]
