interactions:
- request:
    body: grant_type=client_credentials&client_id=00000000-0000-0000-0000-000000000000&resource=https%3A%2F%2Fquantum.microsoft.com&client_secret=PLACEHOLDER
    headers:
      content-type:
      - application/x-www-form-urlencoded
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - darwin
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.6
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": "86399", "ext_expires_in": "86399",
        "expires_on": "1619919739", "not_before": "1619833039", "resource": "https://quantum.microsoft.com",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
