interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.15.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Nov 2021 00:42:59 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:bb822637-501e-0012-6f82-dae43d000000\nTime:2021-11-16T00:42:59.5813061Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Nov 2021 00:42:59 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00\x92\xfe\x92a\x02\xffU\x8c\xc1\x0e\x820\x10D\x7f\x85\xec\x99\x1aZ\xc0\xa8_\xc1\x81\x9b\x10Sa5$\xb4%m11\xa4\xff\xee\xa6\x1c\xb0{\xd9\xd9y;\xb3\x81B/G\xe9%\xdc\xb2\r\xb4TH\x02Zt\x9e5\xd2\xcay\xc6\xb9E\xb5\xa0\x9d\xf4\x9bu
      \n\xc1ij\xc6\xcf\x95\xa8/\x1d@\xc83\x18\x8c\xf3\x8f\xd7\xaa\x07?\x19\x1d\x8b>h\xdd\xae\x81\x9f\n\xa0\x1f\xff]b\xf5\xb2>M\xbc\xd1*G\xc6}\x83\x81\x16+\xc9\x9b\xc6\xe8\xf0<+z\xea\xddI}\x00\x91\x80k\x02\xf8\x01\xc4\x01\xca$\xc1\xaa\x84\xfcER
      \xfa\xd0\x87\xf0\x034a\xed\xb5\x1c\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 16 Nov 2021 00:42:59 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-ParallelTempering-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      100}}, "providerId": "Microsoft", "target": "microsoft.paralleltempering.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        100}}, "providerId": "microsoft", "target": "microsoft.paralleltempering.cpu",
        "metadata": null, "name": "Test-ParallelTempering-\"20210101-000000\"", "id":
        "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-11-16T00:42:59.8857173+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 16 Nov 2021 00:43:01 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-ParallelTempering-%252220210101-000000%2522-255b58e6-4676-11ec-8b2f-1860247f69ed.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"1": 1, "0": 1, "2": 0, "3": 1},
        "cost": -5.0, "solutions": [{"configuration": {"1": 1, "0": 1, "2": 0, "3":
        1}, "cost": -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-169/170
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - oO3WY1+vPlumWsKVwlLwdg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 16 Nov 2021 00:43:00 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
[...]
