interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsIng1dCI6IjBadFVKR185U3RwVVpmTHlxTDFHWGw0U1k1RT0ifQ.eyJhdWQiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vNzJmOTg4YmYtODZmMS00MWFmLTkxYWItMmQ3Y2QwMTFkYjQ3L29hdXRoMi92Mi4wL3Rva2VuIiwiaXNzIjoiMGQyZjg1MTItN2E2ZS00NmI5LThmNmQtYTJiNDdhMTI1YjcxIiwic3ViIjoiMGQyZjg1MTItN2E2ZS00NmI5LThmNmQtYTJiNDdhMTI1YjcxIiwiZXhwIjoxNzE0NTA4MzYzLjA4NDQwMDQsImlhdCI6MTcxNDUwNzc2My4wODQ0MDA0LCJqdGkiOiJkODJmOTNjMi0wNTZlLTQyYWItOWMwZi0wYzQ0ZDc2MmY4MzYifQ.B6YKKFUW5w7H_DjVCd1Xu3DzS_AKay93Vrto7xRXOXzrCJNIBJTo2HnCFyWuqnnuqE6084ybMbGrYbOvh67OtM7CGxcWBCpi8ZxHQ0uOH4ywpshm7h_Bm-JX8-cwcgN1Zqr_yUBjctvBm_MNAyS1wcSIOWu4JQtX1H-LZk6WwkNy9zv7UTEM7jliOaIvW4AiXHtRxD4wskFbpH6KChW6PrjOzOcndiqX6BhBiiyJTL3CIpvVC-zzF9qdc8OQrSWs-1EzwkjCZKGMLBeqS5Y0NfyinaeN30M3fPAXu6_St5vOdiYxHB7LYju_ncHeferJrt61AVVWs31vZ2U2J83tDw&client_info=1&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1746043763, "ext_expires_in":
        1746043763, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 20:09:24 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:5ed59307-b01e-006b-4e3a-9bab34000000\nTime:2024-04-30T20:09:25.7944715Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 20:09:25 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"qubits": 3, "circuit": [{"gate": "h", "target": 0}, {"gate": "cnot",
      "control": 0, "target": 1}, {"gate": "cnot", "control": 0, "target": 2}]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 30 Apr 2024 20:09:26 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "ionq-3ghz-job",
      "providerId": "IonQ", "target": "ionq.simulator", "itemType": "Job", "containerUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "ionq.circuit.v1", "inputParams": {}, "outputDataFormat":
      "ionq.quantum-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {}, "metadata": null,
        "sessionId": null, "status": "Waiting", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "ionq-3ghz-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2024-04-30T20:09:27.4081039+00:00", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sr=c&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dionq-3ghz-job-00000000-0000-0000-0000-000000000001.input.json",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {}, "metadata": null,
        "sessionId": null, "status": "Waiting", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dionq-3ghz-job-00000000-0000-0000-0000-000000000001.output.json",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "ionq-3ghz-job", "id": "00000000-0000-0000-0000-000000000001", "providerId":
        "ionq", "target": "ionq.simulator", "creationTime": "2024-04-30T20:09:27.4081039+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 20:09:31 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dionq-3ghz-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"histogram": {"0": 0.5, "7": 0.5}}'
    headers:
      content-range:
      - bytes 0-46/47
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 30 Apr 2024 20:09:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
version: 1
