interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=startswith%28Name%2C%20%27ionq%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-9b8a7d02-f77a-11ee-86d8-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-9b8a7d02-f77a-11ee-86d8-aa03815e5e6b/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {}, "metadata": null,
        "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-9b8a7d02-f77a-11ee-86d8-aa03815e5e6b/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2024-04-10T20:40:57.717Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "ionq-3ghz-job", "id": "9b8a7d02-f77a-11ee-86d8-aa03815e5e6b",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-04-10T20:40:55.7994474Z",
        "endExecutionTime": "2024-04-10T20:40:57.783Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-abeda4c3-f77a-11ee-9f8e-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-abeda4c3-f77a-11ee-9f8e-aa03815e5e6b/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100}, "metadata":
        null, "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing",
        "outputDataFormat": "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-abeda4c3-f77a-11ee-9f8e-aa03815e5e6b/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2024-04-10T20:41:30.458Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isC[...]
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2024-10-01-preview&filter=startswith%28Name%2C%20%27session%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Succeeded", "jobFailurePolicy": "Abort", "name":
        "session-1859a4c6-f786-11ee-974f-aa03815e5e6b", "id": "1859a4c6-f786-11ee-974f-aa03815e5e6b",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-04-10T22:03:00.2077471Z",
        "endExecutionTime": "2024-04-10T22:03:36.6318538Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-3647adaf-f786-11ee-ae45-aa[...]
