interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.23.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "ionq", "currentAvailability": "Degraded", "targets":
        [{"id": "ionq.qpu", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1", "currentAvailability":
        "Unavailable", "averageQueueTime": 755678, "statusPage": "https://status.ionq.co"},
        {"id": "ionq.qpu.aria-2", "currentAvailability": "Available", "averageQueueTime":
        77908, "statusPage": "https://status.ionq.co"}, {"id": "ionq.simulator", "currentAvailability":
        "Available", "averageQueueTime": 991, "statusPage": "https://status.ionq.co"}]},
        {"id": "microsoft-qc", "currentAvailabil[...]
[...]
