interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.30.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1756429716, "ext_expires_in":
        1756429716, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2024-10-01-preview&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "Succeeded", "jobFailurePolicy": "Abort", "name":
        "session-00000000-0000-0000-0000-000000000001", "id": "00000000-0000-0000-0000-000000000001",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-04-10T22:03:00.2077471Z",
        "endExecutionTime": "2024-04-10T22:03:36.6318538Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-3647adaf-f786-11ee-ae45-aa03815e5e6b",
        "id": "3647adaf-f786-11ee-ae45-aa03815e5e6b", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-04-10T22:03:50.6318746Z",
        "endExecutionTime": "2024-04-10T22:05:28.7668469Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeede[...]
[...]
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001/jobs?api-version=2024-10-01-preview&filter=%28State%20eq%20%27Succeeded%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-187ed3e3-f786-11ee-9b5b-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-187ed3e3-f786-11ee-9b5b-aa03815e5e6b/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 500}, "metadata":
        {"measurement0": "q0\u001f0\u001eq1\u001f1", "qubits": "2"}, "sessionId":
        "00000000-0000-0000-0000-000000000001", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "ionq.quantum-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net/job-187ed3e3-f786-11ee-9b5b-aa03815e5e6b/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2024-04-10T22:03:31.754Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Job 1", "id": "187ed3e3-f786-11ee-9b5b-aa03815e5e6b",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-04-10T22:03:29.9262596Z",
        "endExecutionTime": "2024-04-10T22:03:31.774Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-2b2602ea-f786-11ee-b989-aa03815e5e6b?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-2b2602ea-f786-11ee-b989[...]
