interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.20.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/topLevelItems?api-version=2022-09-12-preview
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100, "count":
        100}, "metadata": {"qiskit": "True", "name": "Single qubit random", "num_qubits":
        "1", "metadata": "null", "meas_map": "[0]"}, "sessionId": null, "status":
        "Succeeded", "jobType": "QuantumComputing", "outputDataFormat": "ionq.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "beginExecutionTime": "2023-01-11T22:16:47.648Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Single qubit random", "id": "00000000-0000-0000-0000-000000000000",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-01-11T22:16:42.6104271Z",
        "endExecutionTime": "2023-01-11T22:16:47.667Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"status":
        "Failed", "jobFailurePolicy": "Abort", "name": "MySession", "id": "s1", "providerId":
        "ionq", "target": "ionq.simulator", "creationTime": "2023-01-11T23:08:01.9547223Z",
        "endExecutionTime": "2023-01-11T23:10:26.788466Z", "costEstimate": null, "itemType":
        "Session"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        100}}, "metadata": null, "sessionId": null, "status": "Succeeded", "jobType":
        "Optimization", "outputDataFormat": "microsoft.qio-results.v2", "outputDataUri":
        "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "beginExecutionTime": "2023-01-26T19:33:34.6961037Z", "cancellationTime":
        null, "quantumComputingData": null, "errorData": null, "isCancelling":[...]
