interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.16.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:28 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:45cbe56c-501e-004f-2edd-1eeeb9000000\nTime:2022-02-11T00:23:28.9406618Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:28 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00~\xac\x05b\x02\xffU\x8c\xc1\n\xc3 \x10D\x7fE\xf6\x1c\x8bn\xda@\xfb\x1d\xbd5RLb!P5\xa8)\x94\xe0\xbfw1\x87TX\xd8\xd9y;\xb3\x815IO:i\xb8\xb1\r\x9c\xb6\x86\x04\xdcML|\t~x\x1b\xcb{@\x814Rp\xd9a\x8b]\x0f\x90\x1b\x06\xa3\x8f\xe9\xf9Z\xdd\x98f\xefJ\xfccB\xdc5\xc8\x93\x00\xfaI\xdf\xa5\x14.\xeb\xe0\xcbm\x82\x8dd<6\x18i\xf1\x96\xbcy*\x8el\x98P\xd4\xbb\x93\xcb\x01\xb0\x02\xd7\n\xc8\x03\xe0\x01\xda*\xc1\xcf\x15\xf9\x8b\xd4\x00UV9\xff\x00\xdd\x00\xf5h\x12\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:29 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:29 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:d9c79da4-f01e-0034-6bdd-1eac25000000\nTime:2022-02-11T00:23:29.2702458Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
      "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
        "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "metadata": null, "name":
        "Optimization problem", "id": "00000000-0000-0000-0000-000000000000", "status":
        "Waiting", "outputDataFormat": "microsoft.qio-results.v1", "outputDataUri":
        "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-02-11T00:23:29.4619974+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:32 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-d61234da-8ad0-11ec-9bfe-3c7d0a1d68ec.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"improvement_cutoff": "10", "improvement_tolerance": "1e-09",
        "seed (GENERATED)": "1889268557", "solver_name": "Tabu", "tabu_tenure (COMPUTED)":
        "2", "tabu_tenure_rand_max (COMPUTED)": "2"}, "solutions": [{"configuration":
        {"0": "1", "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.tabu",
        "version": "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-529/530
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - bYlsfjyOUdqHQdfpULczvQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 11 Feb 2022 00:23:29 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"num_sweeps_per_run":
      "99"}, "providerId": "1qbit", "target": "1qbit.pticm", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:35 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-d8182bd6-8ad0-11ec-9bfe-3c7d0a1d68ec.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"auto_set_temperatures": "true", "elite_threshold": "0.3",
        "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing": "0.15", "frac_sweeps_idle":
        "1", "frac_sweeps_stagnation": "1", "goal": "OPTIMIZE", "high_temp": "0.666943",
        "low_temp": "0.0666943", "manual_temperatures": "", "max_samples_per_layer":
        "10", "max_total_sweeps": "1000", "mc_acceptance_probability": "[ 0.0181069,
        0.0238511, 0.0320929, 0.0440809, 0.0488262, 0.0474525, 0.0402098, 0.0889111,
        0.0467033, 0.114386, 0.0924076, 0.0966533, 0.123876, 0.142358, 0.159216, 0.161089,
        0.150475, 0.221279, 0.16546, 0.251249, 0.217907, 0.28459, 0.290584, 0.298701,
        0.309191, 0.36526, 0.38961, 0.390609, 0.449051, 0.516733 ]", "num_elite_temps":
        "4", "num_replicas": "2", "num_sweeps_per_run": "99", "num_temps": "30", "pt_acceptance_probability":
        "[ 0.00549451, 0, 0.001998, 0, 0.0024975, 0, 0.0969031, 0, 0.125375, 0.0034965,
        0, 0.000999001, 0.048951, 0.00499501, 0, 0.024975, 0.335664, 0.0334665, 0.409091,
        0.16983, 0.475524, 0.356643, 0.183317, 0.261239, 0.563437, 0.446054, 0.333666,
        0.474525, 0.317682 ]", "runs_counter": "10", "scaling_factor": "4", "scaling_type":
        "MEDIAN", "seed (GENERATED)": "3995685359", "solver_name": "PTICM", "sweeps_to_best":
        "1", "time_to_best": "4", "total_sweeps": "1000", "var_fixing_type": "NO_FIXING"},
        "solutions": [{"configuration": {"0": "1", "1": "1", "2": "0", "3": "1"},
        "cost": -5.0}], "target": "1qbit.pticm", "version": "1.0", "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-1595/1596
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - pi+FWOXi4SjfCiogfMTxqw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 11 Feb 2022 00:23:32 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"distance_scale": "0.44"},
      "providerId": "1qbit", "target": "1qbit.pathrelinking", "outputDataFormat":
      "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.bl[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 11 Feb 2022 00:23:37 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-da00f5a4-8ad0-11ec-9bfe-3c7d0a1d68ec.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-d4b9afaa-8ad0-11ec-9bfe-3c7d0a1d68ec/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"distance_scale": "0.44", "greedy_path_relinking": "false",
        "ref_set_count": "10", "seed (GENERATED)": "4209263963", "solver_name": "PathRelinking"},
        "solutions": [{"configuration": {"0": "1", "1": "1", "2": "0", "3": "1"},
        "cost": -5.0}], "target": "1qbit.pathrelinking", "version": "1.0", "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-503/504
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - VOiG59y4xPokGDqsW0B5Ew==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 11 Feb 2022 00:23:36 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
version: 1
