interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Available",
        "targets": [{"id": "ionq.qpu.aria-1", "currentAvailability": "Unavailable",
        "averageQueueTime": 0, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2",
        "currentAvailability": "Unavailable", "averageQueueTime": 0, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.simulator", "currentAvailability":
        "Available", "averageQueueTime": 1, "statusPage": "https://status.ionq.co"},
      [...]
