interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.31.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "invalid_grant", "error_description": "AADSTS53003: Access
        has been blocked by Conditional Access policies. The access policy does not
        allow token issuance. Trace ID: 9c22bdb4-65b5-4095-a2e1-fc4467ac2200 Correlation
        ID: ad7f4822-4eba-4d53-8043-4769b57bb5f2 Timestamp: 2025-05-21 07:03:27Z",
        "error_codes": [53003], "timestamp": "2025-05-21 07:03:27Z", "trace_id": "9c22bdb4-65b5-4095-a2e1-fc4467ac2200",
        "correlation_id": "ad7f4822-4eba-4d53-8043-4769b57bb5f2", "error_uri": "https://login.microsoftonline.com/error?code=PLACEHOLDER",
        "suberror": "message_only", "claims": "{\"access_token\":{\"capolids\":{\"essential\":true,\"values\":[\"37b3c007-8510-40aa-9c46-819fdb20bf63\",\"3d79d567-88b8-4901-ae54-01418818a0e8\"]}}}"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/common/discovery/instance?api-version=1.1&authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize
  response:
    body:
      string: '{"tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1", "metadata": [{"preferred_network": "login.microsoftonline.com",
        "preferred_cache": "login.windows.net", "aliases": ["login.microsoftonline.com",
        "login.windows.net", "login.microsoft.com", "sts.windows.net"]}, {"preferred_network":
        "login.partner.microsoftonline.cn", "preferred_cache": "login.partner.microsoftonline.cn",
        "aliases": ["login.partner.microsoftonline.cn", "login.chinacloudapi.cn"]},
        {"preferred_network": "login.microsoftonline.de", "preferred_cache": "login.microsoftonline.de",
        "aliases": ["login.microsoftonline.de"]}, {"preferred_network": "login.microsoftonline.us",
        "preferred_cache": "login.microsoftonline.us", "aliases": ["login.microsoftonline.us",
        "login.usgovcloudapi.net"]}, {"preferred_network": "login-us.microsoftonline.com",
        "preferred_cache": "login-us.microsoftonline.com", "aliases": ["login-us.microsoftonline.com"]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2024-10-01-preview&filter=%28ProviderId%20eq%20%27ionq%27%29&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-a9342dee-d4f5-11ee-8801-00155d699477?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-a9342dee-d4f5-11ee-8801-00155d699477/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "targetCapability": "BasicExecution", "shots": 100}, "metadata":
        null, "sessionId": null, "jobPriority": "Basic", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "microsoft.quantum-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-a9342dee-d4f5-11ee-8801-00155d699477/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-02-26T22:23:37.824Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Generate one random bit", "id": "a9342dee-d4f5-11ee-8801-00155d699477",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2024-02-26T22:23:28.1066358Z",
        "endExecutionTime": "2024-02-26T22:23:37.912Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100, "count":
        100}, "metadata": {"qiskit": "True", "name": "Single qubit random", "num_qubits":
        "1", "metadata": "{}", "meas_map": "[0]"}, "sessionId": null, "jobPriority":
        "Basic", "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2024-03-18T20:28:26.365Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": nu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?filter=%28ProviderId%20eq%20%27ionq%27%29&top=100&skip=100&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-6ab95a98-e7f2-11ee-b6dd-00155dfe59ef?sv=PLACEH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?filter=%28ProviderId%20eq%20%27ionq%27%29&top=100&skip=300&api-version=2024-10-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-9a46a8dc-526a-11ef-b9e5-a0b339c1da8f?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-9a46a8dc-526a-11ef-b9e5-a0b339c1da8f/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"shots": 10, "count": 10, "items":
        [{"entryPoint": "Qiskit Sample - 3-qubit GHZ circuit", "arguments": []}]},
        "metadata": {"qiskit": "True", "name": "Qiskit Sample - 3-qubit GHZ circuit",
        "num_qubits": "4", "metadata": "{}"}, "sessionId": null, "jobPriority": "Basic",
        "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.quantum-results.v2", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-9a46a8dc-526a-11ef-b9e5-a0b339c1da8f/outputData?sv=PL[...]
[...]
