interactions:
- request:
    body: 'b''[{"ver": 1, "name": "Microsoft.ApplicationInsights.Metric", "time":
      "2025-10-08T23:57:19.521488Z", "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a",
      "tags": {"ai.device.locale": "C", "ai.device.osVersion": "#1 SMP PREEMPT_DYNAMIC
      Thu Jun  5 18:31:42 UTC 2025"}, "data": {"baseType": "MetricData", "baseData":
      {"ver": 2, "metrics": [{"name": "qsharp.import", "value": 1, "count": 1}], "properties":
      {"qsharp.version": "1.20.0"}}}}]'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2-2.in.applicationinsights.azure.com//v2.1/track
  response:
    body:
      string: '{"itemsReceived": 1, "itemsAccepted": 1, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2024-10-01-preview&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-a9342dee-d4f5-11ee-8801-00155d699477?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-a9342dee-d4f5-11ee-8801-00155d699477/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "targetCapability": "BasicExecution", "shots": 100}, "metadata":
        null, "sessionId": null, "jobPriority": "Basic", "status": "Succeeded", "jobType":
        "QuantumComputing", "outputDataFormat": "microsoft.quantum-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-a9342dee-d4f5-11ee-8801-00155d699477/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-02-26T22:23:37.824Z", "cancellationTime": null,
        "lastModifiedTime": null, "quantumComputingData": {"count": 1}, "errorData":
        null, "isCancelling": false, "tags": [], "name": "Generate one random bit",
        "id": "a9342dee-d4f5-11ee-8801-00155d699477", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2024-02-26T22:23:28.1066358Z", "endExecutionTime":
        "2024-02-26T22:23:37.912Z", "costEstimate": {"currencyCode": "USD", "events":
        [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot", "measureUnit": "1q
        gate shot", "amountBilled": 0.0, "amountConsumed": 0.0, "unitPrice": 0.0},
        {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot", "measureUnit": "2q
        gate shot", "amountBilled": 0.0, "amountConsumed": 0.0, "unitPrice": 0.0}],
        "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "ionq.circuit.v1", "inputParams": {"shots": 100, "count":
        100}, "metadata": {"qiskit": "True", "name": "Single qubit random", "num_qubits":
        "1", "metadata": "{}", "meas_map": "[0]"}, "sessionId": null, "jobPriority":
        "Basic", "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "ionq.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-10f3b0b4-e566-11ee-a388-00155de36c2d/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2024-03-18T20:28:26.365Z", "cancellationTime": null,
        "lastModifiedTime": null, "quantumComputingData": {"c[...]
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2024-10-01-preview&skip=0&top=100&test-sequence-id=2
  response:
    body:
      string: ''
    headers:
      www-authenticate:
      - Bearer error="invalid_token"
    status:
      code: 401
      message: Unauthorized
version: 1
