interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic", "self_signed_tls_client_auth"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "mtls_endpoint_aliases": {"token_endpoint": "https://mtlsauth.microsoft.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token"},
        "tls_client_certificate_bound_access_tokens": true, "tenant_region_scope":
        "WW", "cloud_instance_name": "microsoftonline.com", "cloud_graph_host_name":
        "graph.windows.net", "msgraph_host": "graph.microsoft.com", "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.34.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1795555241, "ext_expires_in":
        1795555241, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"itemType": "Session", "name": "session-00000000-0000-0000-0000-000000000001",
      "providerId": "Microsoft.Test.FirstParty", "target": "echo-quantinuum", "jobFailurePolicy":
      "Abort"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"status": "Waiting", "jobFailurePolicy": "Abort", "jobPriority": "Basic",
        "name": "session-00000000-0000-0000-0000-000000000001", "id": "00000000-0000-0000-0000-000000000001",
        "providerId": "microsoft.test.firstparty", "target": "echo-quantinuum", "creationTime":
        "2025-11-24T21:20:42.2277363Z", "endExecutionTime": null, "costEstimate":
        null, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000002"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 24 Nov 2025 21:20:43 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:20a4240f-c01e-001e-2088-5dafb2000000\nTime:2025-11-24T21:20:44.5752399Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 24 Nov 2025 21:20:45 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: 'b''%Result = type opaque\n%Qubit = type opaque\n\ndefine void @ENTRYPOINT__main()
      #0 {\nblock_0:\n  call void @__quantum__qis__h__body(%Qubit* inttoptr (i64 0
      to %Qubit*))\n  call void @__quantum__qis__cx__body(%Qubit* inttoptr (i64 0
      to %Qubit*), %Qubit* inttoptr (i64 1 to %Qubit*))\n  call void @__quantum__qis__m__body(%Qubit*
      inttoptr (i64 0 to %Qubit*), %Result* inttoptr (i64 0 to %Result*))\n  call
      void @__quantum__qis__m__body(%Qubit* int[...]
- request:
    body: 'b''{"itemType": "Job", "name": "Bad Job 1", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
      "inputDataFormat": "qir.v1", "outputDataFormat": "invalid_output_format", "inputDataUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData",
      "providerId": "Microsoft.Test.FirstParty", "target": "echo-quantinuum", "inputParams":
      {"entryPoint": "ENTRYPOINT__main", "arguments": [], "target_profile": "Adaptive_RI"},
      "sessionId": "00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000002?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "target_profile": "Adaptive_RI"}, "metadata": null, "sessionId":
        "00000000-0000-0000-0000-000000000001", "jobPriority": "Basic", "status":
        "Waiting", "jobType": "QuantumComputing", "outputDataFormat": "invalid_output_format",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000002/outputData",
        "beginExecutionTime": null, "cancellationTime": null, "lastModifiedTime":
        "2025-11-24T21:20:46.9425266+00:00", "quantumComputingData": null, "errorData":
        null, "isCancelling": false, "tags": [], "name": "Bad Job 1", "id": "00000000-0000-0000-0000-000000000002",
        "providerId": "microsoft.test.firstparty", "target": "echo-quantinuum", "creationTime":
        "2025-11-24T21:20:46.9354005+00:00", "endExecutionTime": null, "costEstimate":
        null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000002?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z[...]
[...]
- request:
    body: 'b''{"itemType": "Job", "name": "Good Job 2", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000003?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
      "inputDataFormat": "qir.v1", "outputDataFormat": "honeywell.qir.v1", "inputDataUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000003/inputData",
      "providerId": "Microsoft.Test.FirstParty", "target": "echo-quantinuum", "inputParams":
      {"entryPoint": "ENTRYPOINT__main", "arguments": [], "target_profile": "Adaptive_RI"},
      "sessionId": "00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000003?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"error": {"code": "InvalidJobDefinition", "message": "Session is already
        in a terminal state. This may have been due to failures in prior jobs in the
        session."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001/jobs?api-version=2025-12-01-preview&skip=0&top=100&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData",
        "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
        "arguments": [], "target_profile": "Adaptive_RI"}, "metadata": null, "sessionId":
        "00000000-0000-0000-0000-000000000001", "jobPriority": "Basic", "status":
        "Failed", "jobType": "QuantumComputing", "outputDataFormat": "invalid_output_format",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000002/outputData",
        "beginExecutionTime": "2025-11-24T21:20:51.08Z", "cancellationTime": null,
        "lastModifiedTime": "2025-11-24T21:20:54.6952683Z", "quantumComputingData":
        {"count": 1}, "errorData": {"code": "CannotTranslateOutputData", "message":
        "The output returned by ''microsoft.test.firstparty'' cannot be translated
        as specified by ''outputDataFormat''. Please ensure that ''outputDataFormat''
        is correct."}, "isCancelling": false, "tags": [], "name": "Bad Job 1", "id":
        "00000000-0000-0000-0000-000000000002", "providerId": "microsoft.test.firstparty",
        "target": "echo-quantinuum", "creationTime": "2025-11-24T21:20:46.9354005Z",
        "endExecutionTime": "2025-11-24T21:20:54.526Z", "costEstimate": null, "itemType":
        "Job"}], "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''[{"ver": 1, "name": "Microsoft.ApplicationInsights.Metric", "time":
      "2025-11-24T21:21:38.298846Z", "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a",
      "tags": {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.26200"},
      "data": {"baseType": "MetricData", "baseData": {"ver": 2, "metrics": [{"name":
      "qsharp.import", "value": 1, "count": 1}], "properties": {"qsharp.version":
      "1.20.0"}}}}, {"ver": 1, "name": "Microsoft.ApplicationInsights.Metric", "time":
      "2025-11-24T21:21:38.298846Z", "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a",
      "tags": {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.26200"},
      "data": {"baseType": "MetricData", "baseData": {"ver": 2, "metrics": [{"name":
      "qsharp.eval", "value": 1, "count": 1}], "properties": {"qsharp.version": "1.20.0"}}}},
      {"ver": 1, "name": "Microsoft.ApplicationInsights.Metric", "time": "2025-11-24T21:21:38.298846Z",
      "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a", "tags":
      {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.26200"}, "data":
      {"baseType": "MetricData", "baseData": {"ver": 2, "metrics": [{"name": "qsharp.eval.durationMs",
      "value": 80.96439996734262, "count": 1, "min": 80.96439996734262, "max": 80.96439996734262}],
      "properties": {"qsharp.version": "1.20.0"}}}}, {"ver": 1, "name": "Microsoft.ApplicationInsights.Metric",
      "time": "2025-11-24T21:21:38.298846Z", "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a",
      "tags": {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.26200"},
      "data": {"baseType": "MetricData", "baseData": {"ver": 2, "metrics": [{"name":
      "qsharp.compile", "value": 1, "count": 1}], "properties": {"profile": "base",
      "qsharp.version": "1.20.0"}}}}, {"ver": 1, "name": "Microsoft.ApplicationInsights.Metric",
      "time": "2025-11-24T21:21:38.298846Z", "sampleRate": 100.0, "iKey": "95d25b22-8b6d-448e-9677-78ad4047a95a",
      "tags": {"ai.device.locale": "en_US", "ai.device.osVersion": "10.0.26200"},
      "data": {"baseType": "MetricData", "baseData": {"ver": 2, "metrics": [{"name":
      "qsharp.compile.durationMs", "value": 77.24819995928556, "count": 1, "min":
      77.24819995928556, "max": 77.24819995928556}], "properties": {"profile": "base",
      "qsharp.version": "1.20.0"}}}}]'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2-2.in.applicationinsights.azure.com//v2.1/track
  response:
    body:
      string: '{"itemsReceived": 5, "itemsAccepted": 5, "appId": null, "errors": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000004:close?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"status": "Failed", "jobFailurePolicy": "Continue", "jobPriority":
        "Basic", "name": "session-00000000-0000-0000-0000-000000000004", "id": "00000000-0000-0000-0000-000000000004",
        "providerId": "microsoft.test.firstparty", "target": "echo-quantinuum", "creationTime":
        "2025-11-24T21:21:04.161136Z", "endExecutionTime": "2025-11-24T21:22:08.9388712Z",
        "costEstimate": null, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
