interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=+EDw8Q~cbkbeadF.mrC6bAXxFEspQDblyNyuRkcfT&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.18.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:11:06 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:17361a14-601e-0046-756d-c886f0000000\nTime:2022-09-14T19:11:06.8039000Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:11:06 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00I\'"c\x02\xffU\x8d\xb1\x0e\x830\x0cD\x7f\x05y&Ub`\xa0k\xe7Nt+\xa8\n!U\x91J\x82\x88\xa9T\xa1\xfc{\xa30\xd0L>\xdf\xf3\x9d7\x984\xc9A\x92\x84s\xb6\x81\x91\x93\x0e\x02n\xda\x11k\xd6\xde\x91U/\xe9hTWkH_\xe4\xf2\xb6\xac\x05\xe4\x88\xbc\x16%\x13(\x04\xafZ\x00\x9fg\xa0\xac\xa3\xc7s5\x8aFkb\xddG/n\xd7
      N\x1c\xc2\r}\xe7\xf8`^{\x1bw\xbdL.\x18\xf7\rT\x18\xac\x08\xde8DG\xe4\x19\xefB\xefN\xaa\x03`\x02\xea\x04\x88\x03\xe0\x01\x8a$\xc1\xca\x84\xfcER\x80\x9d\xef\xbc\xff\x01l\x00\xab\xec"\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 14 Sep 2022 19:11:07 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-SubstochasticMonteCarlo-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"step_limit":
      280}}, "providerId": "Microsoft", "target": "microsoft.substochasticmontecarlo.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"step_limit":
        280}}, "providerId": "microsoft", "target": "microsoft.substochasticmontecarlo.cpu",
        "metadata": null, "name": "Test-SubstochasticMonteCarlo-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://azuresdkteststo.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-09-14T19:11:07.2783448+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 14 Sep 2022 19:11:09 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-SubstochasticMonteCarlo-%252220210101-000000%2522-fb7621df-3460-11ed-ba25-6045bdc85d00.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"alpha": {"final": 0.0, "initial": 1.0, "type":
        "linear"}, "beta": {"final": 5.0, "initial": 0.0, "type": "linear"}, "seed":
        3823339401, "step_limit": 280, "steps_per_walker": 1, "target_population":
        72}, "solutions": [{"configuration": {"0": 1, "1": 1, "2": 0, "3": 1}, "cost":
        -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-540/541
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - gkxybVgqFmjetGx8bGUHxg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 14 Sep 2022 19:11:07 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 206
      message: Partial Content
[...]
