interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.34.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1791505382, "ext_expires_in":
        1791505382, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Oct 2025 00:23:03 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:0def32a3-601e-0028-2db2-3822c2000000\nTime:2025-10-09T00:23:03.3247561Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Oct 2025 00:23:03 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: b'\nDECLARE ro BIT[2]\n\nH 0\nCNOT 0 1\n\nMEASURE 0 ro[0]\nMEASURE 1 ro[1]\n'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 09 Oct 2025 00:23:04 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"itemType": "Job", "name": "qdk-python-test", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
      "inputDataFormat": "rigetti.quil.v1", "outputDataFormat": "rigetti.quil-results.v1",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "providerId": "rigetti", "target": "rigetti.sim.qvm", "inputParams": {"count":
      100}}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
        "inputDataFormat": "rigetti.quil.v1", "inputParams": {"count": 100}, "metadata":
        null, "sessionId": null, "jobPriority": "Basic", "status": "Waiting", "jobType":
        "QuantumComputing", "outputDataFormat": "rigetti.quil-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData",
        "beginExecutionTime": null, "cancellationTime": null, "lastModifiedTime":
        "2025-10-09T00:23:04.7439789+00:00", "quantumComputingData": null, "errorData":
        null, "isCancelling": false, "tags": [], "name": "qdk-python-test", "id":
        "00000000-0000-0000-0000-000000000001", "providerId": "rigetti", "target":
        "rigetti.sim.qvm", "creationTime": "2025-10-09T00:23:04.7439396+00:00", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2025-12-01-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 09 Oct 2025 00:23:09 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B%20filename%3Dqdk-python-test-00000000-0000-0000-0000-000000000001.output.json&sig=PLACEHOLDER
  response:
    body:
      string: '{"ro": [[0, 0], [1, 1], [1, 1], [1, 1], [0, 0], [0, 0], [0, 0], [1,
        1], [0, 0], [1, 1], [0, 0], [0, 0], [1, 1], [1, 1], [0, 0], [1, 1], [1, 1],
        [0, 0], [0, 0], [1, 1], [0, 0], [0, 0], [1, 1], [0, 0], [0, 0], [0, 0], [1,
        1], [1, 1], [1, 1], [1, 1], [0, 0], [1, 1], [0, 0], [0, 0], [0, 0], [0, 0],
        [1, 1], [0, 0], [0, 0], [1, 1], [1, 1], [0, 0], [1, 1], [1, 1], [0, 0], [1,
        1], [0, 0], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0], [0, 0], [1, 1], [1, 1],
        [0, 0], [0, 0], [1, 1], [0, 0], [0, 0], [0, 0], [1, 1], [1, 1], [0, 0], [1,
        1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0], [1, 1], [0, 0], [0, 0], [0, 0],
        [1, 1], [1, 1], [1, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0], [1, 1], [0,
        0], [1, 1], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0], [0, 0], [0, 0], [0, 0],
        [0, 0], [0, 0], [0, 0], [0, 0], [1, 1], [0, 0], [1, 1]]}'
    headers:
      content-range:
      - bytes 0-607/608
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - XSdkw4QF6I/LUYNRS5NgKQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 09 Oct 2025 00:23:04 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 206
      message: Partial Content
version: 1
