interactions:
- request:
    body: 'b''{"containerName": "8e3ce3ae-bf5a-11eb-8f0e-acde48001122"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 28 May 2021 02:15:22 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:14d9e694-c01e-0000-7667-539fed000000\nTime:2021-05-28T02:15:23.6236443Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: 'b''{"cost_function":{"version":"1.0","type":"ising","terms":[{"c": 0, "ids":
      [0, 1]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:23 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgMA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 1, "ids": [1, 2]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:23 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgMQ%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 2, "ids": [2, 3]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:24 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgMg%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 3, "ids": [3, 4]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:24 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgMw%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: b']}}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Fri, 28 May 2021 02:15:24 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=block&blockid=ICAgICAgICAgNA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<BlockList><Latest>ICAgICAgICAgMA==</Latest><Latest>ICAgICAgICAgMQ==</Latest><Latest>ICAgICAgICAgMg==</Latest><Latest>ICAgICAgICAgMw==</Latest><Latest>ICAgICAgICAgNA==</Latest></BlockList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-blob-content-encoding:
      - identity
      x-ms-blob-content-type:
      - application/json
      x-ms-date:
      - Fri, 28 May 2021 02:15:24 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-meta-avg_coupling:
      - '2.0'
      x-ms-meta-max_coupling:
      - '2'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '4'
      x-ms-meta-type:
      - ising
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?comp=blocklist&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Fri, 28 May 2021 02:15:25 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/8e3ce3ae-bf5a-11eb-8f0e-acde48001122/8e3ce3ae-bf5a-11eb-8f0e-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: '{"cost_function": {"version": "1.0", "type": "ising", "terms": [{"c":
        0, "ids": [0, 1]}, {"c": 1, "ids": [1, 2]}, {"c": 2, "ids": [2, 3]}, {"c":
        3, "ids": [3, 4]}]}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 28 May 2021 02:15:24 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
version: 1
