interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2018-01-01&discover-tenant-id
  response:
    body:
      string: '{"error": {"code": "AuthenticationFailed", "message": "Authentication
        failed. The ''Authorization'' header is missing."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization_uri="https://login.windows.net/00000000-0000-0000-0000-000000000000",
        error="invalid_token", error_description="The authentication failed because
        of missing 'Authorization' header."
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1744814746, "ext_expires_in":
        1744814746, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Available", "averageQueueTime":
        1255457, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1",
        "currentAvailability": "Available", "averageQueueTime": 419004, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2", "currentAvailability":
        "Unavailable", "averageQueueTime": 2367057, "statusPage": "https://status.ionq.co"}[...]
