interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.21.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "unauthorized_client", "error_description": "AADSTS700038:
        00000000-0000-0000-0000-000000000000 is not a valid application identifier.\r\nTrace
        ID: d3e55c7b-313a-4da8-abae-aa4d5a282500\r\nCorrelation ID: 0e2a8e43-173c-420a-96e4-d12cf1dde4e1\r\nTimestamp:
        2023-03-07 22:43:20Z", "error_codes": [700038], "timestamp": "2023-03-07 22:43:20Z",
        "trace_id": "d3e55c7b-313a-4da8-abae-aa4d5a282500", "correlation_id": "0e2a8e43-173c-420a-96e4-d12cf1dde4e1",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
