interactions:
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-3a767033-13fa-11ef-b82f-f8e4e3ddcdd5?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-3a767033-13fa-11ef-b82f-f8e4e3ddcdd5/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"count": 100, "shots": 100, "items":
        [{"entryPoint": "Qiskit Sample - 3-qubit GHZ circuit", "arguments": []}]},
        "metadata": {"qiskit": "True", "name": "Qiskit Sample - 3-qubit GHZ circuit",
        "num_qubits": "4", "metadata": "{}"}, "sessionId": null, "status": "Succeeded",
        "jobType": "QuantumComputing", "outputDataFormat": "microsoft.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-3a767033-13fa-11ef-b82f-f8e4e3ddcdd5/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": "2024-05-17T03:08:01.4371661Z", "cancellationTime":
        null, "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling":
        false, "tags": [], "name": "Qiskit Sample - 3-qubit GHZ circuit", "id": "3a767033-13fa-11ef-b82f-f8e4e3ddcdd5",
        "providerId": "rigetti", "target": "rigetti.sim.qvm", "creationTime": "2024-05-17T03:07:54.754684Z",
        "endExecutionTime": "2024-05-17T03:08:02.6316005Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "qpu_time_centiseconds", "dimensionName":
        "QPU Execution Time", "measureUnit": "10ms (rounded up)", "amountBilled":
        0.0, "amountConsumed": 0.0, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType":
        "Job"}, {"containerUri": "https://mystorage.blob.core.windows.net/job-8cf0fcaf-13fc-11ef-8373-f8e4e3ddcdd5?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-8cf0fcaf-13fc-11ef-8373-f8e4e3ddcdd5/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"count": 100, "shots": 100, "items":
        [{"entryPoint":[...]
- request:
    body: null
    headers:
      x-ms-quantum-api-key:
      - PLACEHOLDER
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2022-09-12-preview&test-sequence-id=2
  response:
    body:
      string: ''
    headers:
      www-authenticate:
      - Bearer error="invalid_token"
    status:
      code: 401
      message: Unauthorized
version: 1
