interactions:
- request:
    body: client_id=00000000-0000-0000-0000-000000000000&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 1|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.10.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "b305bc90-c975-11eb-b70f-acde48001122"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/b305bc90-c975-11eb-b70f-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Wed, 09 Jun 2021 22:54:53 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/b305bc90-c975-11eb-b70f-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:bcb0d9a9-a01e-0039-6682-5d64f1000000\nTime:2021-06-09T22:54:53.7272186Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: b'\x1f\x8b\x08\x00\xbdF\xc1`\x02\xffD\xc8A\n\x80 \x14E\xd1\xad\xc8\x1bKd6r+!\r\xcc\xc2A\x1aiA\x88{\xefW\x90\xb3{O\x86\t1\x8d\xf3\xe1Mr\xc1Ce\x9cv\x8foB4-8\xd2\xb5Y\x1a\x17\x9d_\x9e\xb5\xfb\x1a\xa1\x86\x0c\x03\xc5Z\xce\xe0&z6P\n]\xf8\xe7\xa2:e\xf7{W\x9dR\xfe.\xabS\xf6\xba\xe8Rn\x00\x00\x00\xff\xff\x03\x00\xc1\x1d\xe0X\x9c\x00\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Wed, 09 Jun 2021 22:54:53 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/b305bc90-c975-11eb-b70f-acde48001122/b305bc90-c975-11eb-b70f-acde48001122?comp=block&blockid=ICAgICAgICAgMA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<BlockList><Latest>ICAgICAgICAgMA==</Latest></BlockList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-blob-content-encoding:
      - gzip
      x-ms-blob-content-type:
      - application/json
      x-ms-date:
      - Wed, 09 Jun 2021 22:54:53 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-meta-avg_coupling:
      - '2.0'
      x-ms-meta-max_coupling:
      - '2'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '4'
      x-ms-meta-type:
      - ising
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/b305bc90-c975-11eb-b70f-acde48001122/b305bc90-c975-11eb-b70f-acde48001122?comp=blocklist&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Wed, 09 Jun 2021 22:54:54 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/b305bc90-c975-11eb-b70f-acde48001122/b305bc90-c975-11eb-b70f-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: '{"cost_function": {"version": "1.0", "type": "ising", "terms": [{"c":
        0, "ids": [0, 1]}, {"c": 1, "ids": [1, 2]}, {"c": 2, "ids": [2, 3]}, {"c":
        3, "ids": [3, 4]}]}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 09 Jun 2021 22:54:54 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
version: 1
