interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.14.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:19:58 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:c5d74dc3-501e-004f-0612-aceeb9000000\nTime:2021-09-17T22:19:59.7054294Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:19:59 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
- request:
    body: b"\x1f\x8b\x08\x00\x8c\x14Ea\x02\xffU\x8d\xc1\x0e\xc2 \x10D\x7f\xa5\xd9\xb3\x18\xa0VS\x8f\xde=\xe9\xcd6f\xa54\x92\x08m\n\x98\x98\x86\x7f\x17\xe9\xa1r\xda\xd9y\xb3\xb33h\xe9\xb0C\x87p,f0\xa8e\x14p\x95\xd6\x91\x8b\xd2\xfe\x85Nv'\xd5\xfbI\xa0S\x839\xa3x*#I\x03\x9crFkv
      \xacbu\xb5o\x00\xc2\xa6\x001Xw\xef\xbd\x11\xbfp\xaa|\xcb\xc9.\x1a\xd8\x96B\xcc\xb8\xcf\x98\x9e\x8c\xfe1\xa4]N\xdaF\xe36\x83\x88\x83\x94\xd1S]r\xd8\xa6\xa0m\xec]H\xb5\x02\x9e\x81:\x03l\x05|\x05evAv\x19\xf9;\xc9\x01oC\x1b\xc2\x17\xd0\xa5\xb1\x1a&\x01\x00\x00"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 17 Sep 2021 22:20:01 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-SimulatedBifurcationMachine-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"loops": 10}, "providerId":
      "toshiba", "target": "toshiba.sbm.ising", "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"loops": 10}, "providerId":
        "toshiba", "target": "toshiba.sbm.ising", "metadata": null, "name": "Test-SimulatedBifurcationMachine-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-09-17T22:20:01.7836428+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 17 Sep 2021 22:20:08 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-SimulatedBifurcationMachine-%252220210101-000000%2522-638fb3f8-1805-11ec-a476-acde48001122.output.json
  response:
    body:
      string: '{"target": "toshiba.sbm.ising", "version": "1.0", "input_params": {"loops":
        10}, "input_data_uri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "solutions": [{"cost": -5.0, "configuration": {"0": 1, "1": 1, "2": 0, "3":
        1}, "parameters": {"runs": 1601, "message": "finished", "time": 0.022}}],
        "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-447/448
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - Vxxd4u1FXuWbQx3YxmDDRg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Fri, 17 Sep 2021 22:20:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
[...]
