interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.29.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1755297567, "ext_expires_in":
        1755297567, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Available", "averageQueueTime":
        1310201, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1",
        "currentAvailability": "Unavailable", "averageQueueTime": 2213965, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2", "currentAvailability":
        "Available", "averageQueueTime": 1616679, "statusPage": "https://status.ionq.co"[...]
[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=tbyVeuOoGVoOXYMKs1oA9JLJIPiSL1S%2FbGeK%2Ba8eeQ8%3D"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:39:28 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=tbyVeuOoGVoOXYMKs1oA9JLJIPiSL1S%2FbGeK%2Ba8eeQ8%3D
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:feaf7305-501e-0023-5763-efd9a9000000\nTime:2024-08-15T22:39:29.4416476Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:39:28 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=tbyVeuOoGVoOXYMKs1oA9JLJIPiSL1S%2FbGeK%2Ba8eeQ8%3D
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: 'b''%Result = type opaque\n%Qubit = type opaque\n\ndefine void @ENTRYPOINT__main()
      #0 {\n  call void @__quantum__qis__h__body(%Qubit* inttoptr (i64 0 to %Qubit*))\n  call
      void @__quantum__qis__cx__body(%Qubit* inttoptr (i64 0 to %Qubit*), %Qubit*
      inttoptr (i64 1 to %Qubit*))\n  call void @__quantum__qis__h__body(%Qubit* inttoptr
      (i64 2 to %Qubit*))\n  call void @__quantum__qis__cz__body(%Qubit* inttoptr
      (i64 2 to %Qubit*), %Qubit* inttoptr (i64 [...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "quantinuum-job",
      "providerId": "quantinuum", "target": "quantinuum.sim.h1-1e", "itemType": "Job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=tbyVeuOoGVoOXYMKs1oA9JLJIPiSL1S%2FbGeK%2Ba8eeQ8%3D",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "qir.v1", "inputParams": {"entryPoint": "ENTRYPOINT__main",
      "arguments": [], "targetCapability": "AdaptiveExecution"}, "outputDataFormat":
      "microsoft.quantum-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A30Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER&ss=b&srt=co&spr=https&st=2024-08-15T22%3A39%3A29Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=tbyVeuOoGVoOXYMKs1oA9JLJIPiSL1S%2FbGeK%2Ba8eeQ8%3D",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "quantinuum-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-15T22:39:30.0830432+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2024-08-15T22%3A39%3A30Z&se=2050-01-01T00%3A00%3A00Z&sr=c&sp=rcwl&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A30Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.input.json&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A30Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json&sig=moc6X5e4lQLD0b1yGxP0NIMGnmfJggxarBg5KxM10%2FU%3D",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "quantinuum-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-15T22:39:30.0830432+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=6
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2024-08-15T22%3A39%3A33Z&se=2050-01-01T00%3A00%3A00Z&sr=c&sp=rcwl&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A33Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.input.json&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A33Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json&sig=QQeNUB8ErA64pz1E7pJGtFoFMeOFSysvCPKL6BP6M58%3D",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "quantinuum-job", "id": "00000000-0000-0000-0000-000000000001", "providerId":
        "quantinuum", "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-15T22:39:30.0830432+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=11
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&st=2024-08-15T22%3A39%3A53Z&se=2050-01-01T00%3A00%3A00Z&sr=c&sp=rcwl&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A53Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.input.json&sig=PLACEHOLDER&st=2024-08-15T22%3A39%3A53Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B+filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json&sig=J%2F0zLtm03B4VNHdBp01Wp%2FYFCW%2BN6jcn7nqbqmAh%2Fg8%3D",
        "beginExecutionTime": "2024-08-15T22:39:49.214447+00:00", "cancellationTime":
        null, "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling":
        false, "tags": [], "name": "quantinuum-job", "id": "00000000-0000-0000-0000-000000000001",
        "providerId": "quantinuum", "target": "quantinuum.sim.h1-1e", "creationTime":
        "2024-08-15T22:39:30.0830432+00:00", "endExecutionTime": "2024-08-15T22:39:49.610061+00:00",
        "costEstimate": {"currencyCode": "USD", "events": [{"dimensionId": "ehqc",
        "dimensionName": "EHQC", "measureUnit": "hqc", "amountBilled": 5.01, "amountConsumed":
        5.01, "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:39:52 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&st=2024-08-15T22%3A39%3A53Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B%20filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json&sig=J%2F0zLtm03B4VNHdBp01Wp%2FYFCW%2BN6jcn7nqbqmAh%2Fg8%3D
  response:
    body:
      string: '{"DataFormat": "microsoft.quantum-results.v2", "Results": [{"Histogram":
        [{"Outcome": {"Item1": 1, "Item2": 1}, "Display": "(1, 1)", "Count": 1}],
        "Shots": [{"Item1": 1, "Item2": 1}]}]}'
    headers:
      content-range:
      - bytes 0-167/168
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - IJwy0hWxZuZPlBjA+KujmA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 15 Aug 2024 22:39:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 15 Aug 2024 22:39:53 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&st=2024-08-15T22%3A39%3A53Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=r&rscd=attachment%3B%20filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json&sig=J%2F0zLtm03B4VNHdBp01Wp%2FYFCW%2BN6jcn7nqbqmAh%2Fg8%3D
  response:
    body:
      string: '{"DataFormat": "microsoft.quantum-results.v2", "Results": [{"Histogram":
        [{"Outcome": {"Item1": 1, "Item2": 1}, "Display": "(1, 1)", "Count": 1}],
        "Shots": [{"Item1": 1, "Item2": 1}]}]}'
    headers:
      content-range:
      - bytes 0-167/168
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - IJwy0hWxZuZPlBjA+KujmA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 15 Aug 2024 22:39:51 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2024-05-04'
    status:
      code: 206
      message: Partial Content
version: 1
