interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.20.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "session4e536b03-9e08-11ed-87f0-6045bdaa2ba8",
      "providerId": "ionq", "target": "ionq.simulator", "itemType": "Session", "jobFailurePolicy":
      "Abort"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
  response:
    body:
      string: '{"status": "Waiting", "jobFailurePolicy": "Abort", "name": "session4e536b03-9e08-11ed-87f0-6045bdaa2ba8",
        "id": "00000000-0000-0000-0000-000000000000", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2023-01-27T06:03:24.4844277Z", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Session", "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000000:end?api-version=2022-09-12-preview
  response:
    body:
      string: '{"status": "Succeeded", "jobFailurePolicy": "Abort", "name": "session4e536b03-9e08-11ed-87f0-6045bdaa2ba8",
        "id": "00000000-0000-0000-0000-000000000000", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2023-01-27T06:03:24.4844277Z", "endExecutionTime":
        "2023-01-27T06:03:24.6173273Z", "costEstimate": null, "itemType": "Session",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000000:end?api-version=2022-09-12-preview
  response:
    body:
      string: '{"status": "Succeeded", "jobFailurePolicy": "Abort", "name": "session4e536b03-9e08-11ed-87f0-6045bdaa2ba8",
        "id": "00000000-0000-0000-0000-000000000000", "providerId": "ionq", "target":
        "ionq.simulator", "creationTime": "2023-01-27T06:03:24.4844277Z", "endExecutionTime":
        "2023-01-27T06:03:24.6173273Z", "costEstimate": null, "itemType": "Session",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
