interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "invalid_client", "error_description": "AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''00000000-0000-0000-0000-000000000000''.
        Trace ID: cfa16455-b7cf-4c3f-a430-54ef6c62a000 Correlation ID: 443e7582-fceb-4e21-b98f-d6ab5eb43445
        Timestamp: 2024-04-30 10:30:17Z", "error_codes": [7000215], "timestamp": "2024-04-30
        10:30:17Z", "trace_id": "cfa16455-b7cf-4c3f-a430-54ef6c62a000", "correlation_id":
        "443e7582-fceb-4e21-b98f-d6ab5eb43445", "error_uri": "https://login.microsoftonline.com/error?code=7000215"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"status": "TimedOut", "jobFailurePolicy": "Abort", "name":
        "My Session", "id": "24646b90-9b84-11ee-a5c9-b07d64eb437f", "providerId":
        "microsoft.test", "target": "echo-quantinuum", "creationTime": "2023-12-15T19:57:17.0052883Z",
        "endExecutionTime": "2023-12-15T20:08:30.1965511Z", "costEstimate": null,
        "itemType": "Session"}, {"status": "Succeeded", "jobFailurePolicy": "Abort",
        "name": "session-266ee0f1-9b84-11ee-9570-b07d64eb437f", "id": "266ee0f1-9b84-11ee-9570-b07d64eb437f",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-12-15T19:57:19.0683648Z",
        "endExecutionTime": "2023-12-15T19:57:35.7561871Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":
        "Succeeded", "jobFailurePolicy": "Abort", "name": "session-93917c1d-9b84-11ee-89af-b07d64eb437f",
        "id": "93917c1d-9b84-11ee-89af-b07d64eb437f", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2023-12-15T20:00:22.6893717Z",
        "endExecutionTime": "2023-12-15T20:04:47.6086846Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}, {"status":[...]
