interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "invalid_client", "error_description": "AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''00000000-0000-0000-0000-000000000000''.
        Trace ID: 50e8db85-123c-41c6-bf8e-3f7d99c78800 Correlation ID: 082f71f7-9d31-45c8-ba9d-9626d80bfb74
        Timestamp: 2024-04-30 10:25:02Z", "error_codes": [7000215], "timestamp": "2024-04-30
        10:25:02Z", "trace_id": "50e8db85-123c-41c6-bf8e-3f7d99c78800", "correlation_id":
        "082f71f7-9d31-45c8-ba9d-9626d80bfb74", "error_uri": "https://login.microsoftonline.com/error?code=7000215"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "microsoft-elements", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.dft", "currentAvailability": "Available", "averageQueueTime":
        0, "statusPage": null}]}, {"id": "ionq", "currentAvailability": "Degraded",
        "targets": [{"id": "ionq.qpu", "currentAvailability": "Available", "averageQueueTime":
        374671, "statusPage": "https://status.ionq.co"}, {"id": "ionq.qpu.aria-1",
        "currentAvailability": "Unavailable", "averageQueueTime": 765643, "statusPage":
        "https://status.ionq.co"}, {"id": "ionq.qpu.aria-2", "currentAvailability":
        "Unavailable", "averageQueueTime": 0, "statusPage": "https://status.ionq.co"},
   [...]
[...]
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000001"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 10:25:07 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:a7eff3d2-901e-000e-32e8-9a0570000000\nTime:2024-04-30T10:25:08.8181593Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2023-11-03'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 10:25:08 GMT
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2023-11-03'
    status:
      code: 200
      message: OK
- request:
    body: b'OPENQASM 2.0;\n        include "qelib1.inc";\n\n        qreg q[3];\n        creg
      c0[1];\n        creg c1[1];\n        creg c2[1];\n\n        h q[0];\n        cx
      q[0], q[1];\n        x q[2];\n        h q[2];\n        cx q[2], q[0];\n        h
      q[2];\n        measure q[0] -> c0[0];\n        if (c0==1) x q[1];\n        measure
      q[2] -> c1[0];\n        if (c1==1) z q[1];\n        h q[1];\n        measure
      q[1] -> c2[0];\n        '
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 30 Apr 2024 10:25:09 GMT
      x-ms-version:
      - '2023-11-03'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2023-11-03'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "quantinuum-job",
      "providerId": "quantinuum", "target": "quantinuum.sim.h1-1e", "itemType": "Job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData",
      "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {}, "outputDataFormat":
      "honeywell.quantum-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {}, "metadata":
        null, "sessionId": null, "status": "Waiting", "jobType": "QuantumComputing",
        "outputDataFormat": "honeywell.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racwl",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "quantinuum-job",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-04-30T10:25:10.4501752+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001?sv=PLACEHOLDER&sr=c&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcwl",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.input.json",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {}, "metadata":
        null, "sessionId": null, "status": "Waiting", "jobType": "QuantumComputing",
        "outputDataFormat": "honeywell.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        {"count": 1}, "errorData": null, "isCancelling": false, "tags": [], "name":
        "quantinuum-job", "id": "00000000-0000-0000-0000-000000000001", "providerId":
        "quantinuum", "target": "quantinuum.sim.h1-1e", "creationTime": "2024-04-30T10:25:10.4501752+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 30 Apr 2024 10:25:27 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2023-11-03'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000001/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=r&rscd=attachment%3B%20filename%3Dquantinuum-job-00000000-0000-0000-0000-000000000001.output.json
  response:
    body:
      string: '{"c0": ["1"], "c1": ["1"], "c2": ["1"]}'
    headers:
      content-range:
      - bytes 0-38/39
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - iakKOeWVHvJB8CP6UFcIRA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 30 Apr 2024 10:25:10 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2023-11-03'
    status:
      code: 206
      message: Partial Content
version: 1
