interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": ["client_secret_post", "private_key_jwt",
        "client_secret_basic"], "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": ["query", "fragment", "form_post"], "subject_types_supported":
        ["pairwise"], "id_token_signing_alg_values_supported": ["RS256"], "response_types_supported":
        ["code", "id_token", "code id_token", "id_token token"], "scopes_supported":
        ["openid", "profile", "email", "offline_access"], "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false, "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true, "frontchannel_logout_supported": true, "end_session_endpoint":
        "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": ["sub", "iss", "cloud_instance_name", "cloud_instance_host_name",
        "cloud_graph_host_name", "msgraph_host", "aud", "exp", "iat", "auth_time",
        "acr", "nonce", "preferred_username", "name", "tid", "ver", "at_hash", "c_hash",
        "email"], "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW", "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net", "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.30.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1756414091, "ext_expires_in":
        1756414091, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"id": "ionq", "currentAvailability": "Degraded", "targets":
        [{"id": "ionq.qpu", "currentAvailability": "Unavailable", "averageQueueTime":
        0, "statusPage": null}, {"id": "ionq.qpu.aria-1", "currentAvailability": "Available",
        "averageQueueTime": 139443, "statusPage": "https://status.ionq.co"}, {"id":
        "ionq.qpu.aria-2", "currentAvailability": "Unavailable", "averageQueueTime":
        1963083, "statusPage": "https://status.ionq.co"}, {"id": "ionq.simulator",
        "currentAvailability": "Available", "averageQueueTime": 2, "statusPage": "https://status.ionq.co"}]},
        {"id": "microsoft-qc", "currentAvailability": "Available", "[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000001", "name": "session-00000000-0000-0000-0000-000000000001",
      "providerId": "quantinuum", "target": "quantinuum.sim.h1-1e", "itemType": "Session"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"status": "Waiting", "jobFailurePolicy": "Abort", "name": "session-00000000-0000-0000-0000-000000000001",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-28T20:48:12.572664Z",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000002"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2024 20:48:11 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:9e66afe3-c01e-0053-5f8b-f9605e000000\nTime:2024-08-28T20:48:12.9308593Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2024-05-04'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 28 Aug 2024 20:48:12 GMT
      x-ms-version:
      - '2024-05-04'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?restype=container&sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2024-05-04'
    status:
      code: 200
      message: OK
- request:
    body: b'OPENQASM 2.0;\ninclude "qelib1.inc";\nqreg q[2];\ncreg c[2];\nh q[0];\ncx
      q[0],q[1];\nmeasure q[0] -> c[0];\nmeasure q[1] -> c[1];'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 28 Aug 2024 20:48:12 GMT
      x-ms-version:
      - '2024-05-04'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2024-05-04'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000002", "name": "Job 1", "providerId":
      "quantinuum", "target": "quantinuum.sim.h1-1e", "itemType": "Job", "sessionId":
      "00000000-0000-0000-0000-000000000001", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData",
      "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 100, "shots":
      100}, "metadata": {"qiskit": "True", "name": "BellState", "num_qubits": "2",
      "metadata": "{}"}, "outputDataFormat": "honeywell.quantum-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000002?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002/inputData?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sr=b&sp=rcw&sig=PLACEHOLDER",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {"count": 100,
        "shots": 100}, "metadata": {"qiskit": "True", "name": "BellState", "num_qubits":
        "2", "metadata": "{}"}, "sessionId": "00000000-0000-0000-0000-000000000001",
        "status": "Waiting", "jobType": "QuantumComputing", "outputDataFormat": "honeywell.quantum-results.v1",
        "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000002/outputData?sv=PLACEHOLDER&ss=b&srt=co&spr=https&st=2000-01-01T00%3A00%3A00Z&se=2050-01-01T00%3A00%3A00Z&sp=rwlac&sig=PLACEHOLDER",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "Job 1",
        "id": "00000000-0000-0000-0000-000000000002", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-28T20:48:13.3813048+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000002?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&st=2000-01-01T00%3A00%3A00Z[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"status": "Executing", "jobFailurePolicy": "Abort", "name": "session-00000000-0000-0000-0000-000000000001",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-28T20:48:12.572664Z",
        "endExecutionTime": null, "costEstimate": {"currencyCode": "USD", "events":
        [], "estimatedTotal": 0.0}, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001:close?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"status": "Executing", "jobFailurePolicy": "Abort", "name": "session-00000000-0000-0000-0000-000000000001",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-28T20:48:12.572664Z",
        "endExecutionTime": null, "costEstimate": {"currencyCode": "USD", "events":
        [], "estimatedTotal": 0.0}, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001/jobs?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000002?sv=PLACEHOLDER&ss=b&sr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/sessions/00000000-0000-0000-0000-000000000001?api-version=2022-09-12-preview&test-sequence-id=3
  response:
    body:
      string: '{"status": "Succeeded", "jobFailurePolicy": "Abort", "name": "session-00000000-0000-0000-0000-000000000001",
        "id": "00000000-0000-0000-0000-000000000001", "providerId": "quantinuum",
        "target": "quantinuum.sim.h1-1e", "creationTime": "2024-08-28T20:48:12.572664Z",
        "endExecutionTime": "2024-08-28T20:48:40.2540924Z", "costEstimate": {"currencyCode":
        "USD", "events": [], "estimatedTotal": 0.0}, "itemType": "Session"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
