interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1744817333, "ext_expires_in":
        1744817333, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"containerUri": "https://mystorage.blob.core.windows.net/quantum-job-a13258b1-d18e-4853-821a-33d6c744ffe8",
        "inputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-a13258b1-d18e-4853-821a-33d6c744ffe8/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "microsoft.ionq-ir.v3", "inputParams": {"shots": "100"},
        "metadata": {"entryPointInput": "{\"Qubits\":null}", "outputMappingBlobUri":
        "https://mystorage.blob.core.windows.net/quantum-job-a13258b1-d18e-4853-821a-33d6c744ffe8/mappingData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw"},
        "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net/quantum-job-a13258b1-d18e-4853-821a-33d6c744ffe8/outputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "beginExecutionTime": "2023-12-08T13:15:38.023Z", "cancellationTime": null,
        "quantumComputingData": {"count": 1}, "errorData": null, "isCancelling": false,
        "tags": [], "name": "Generate one random bit", "id": "a13258b1-d18e-4853-821a-33d6c744ffe8",
        "providerId": "ionq", "target": "ionq.simulator", "creationTime": "2023-12-08T13:15:31.5999435Z",
        "endExecutionTime": "2023-12-08T13:15:38.11Z", "costEstimate": {"currencyCode":
        "USD", "events": [{"dimensionId": "gs1q", "dimensionName": "1Q Gate Shot",
        "measureUnit": "1q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}, {"dimensionId": "gs2q", "dimensionName": "2Q Gate Shot",
        "measureUnit": "2q gate shot", "amountBilled": 0.0, "amountConsumed": 0.0,
        "unitPrice": 0.0}], "estimatedTotal": 0.0}, "itemType": "Job"}, {"containerUri":
        "https://mystorage.blob.core.windows.net/job-5bdc1e42-9ab4-11ee-9f51-e1417fd9b90a?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-5bdc1e42-9ab4-11ee-9f51-e1417fd9b90a/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&sp=rcw",
        "inputDataFormat": "qir.v1", "inputParams": {"shots": 100, "entryPoint": "ENTRYPOINT__main",
        "arguments": [], "targetCapability": "BasicExecution"}, "metadata": null,
        "sessionId": null, "status": "Succeeded", "jobType": "QuantumComputing", "outputDataFormat":
        "microsoft.quantum-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-5bdc1e42-9ab4-11ee-9f51-e1417fd9b90a/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=2050-01-01T00%3A00%3A00Z&srt=co&ss=b&sp=racw",
        "beginExecutionTime": "2023-12-14T19:10:04.736Z", "cancellationTime": null,
        "quantumComputingData": {"count": [...]
