interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "invalid_client", "error_description": "AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''00000000-0000-0000-0000-000000000000''.
        Trace ID: f3ac1102-b163-426f-aec0-efe29b764800 Correlation ID: e3a1d507-4156-4f90-8f19-48a7a61447db
        Timestamp: 2024-04-30 10:30:52Z", "error_codes": [7000215], "timestamp": "2024-04-30
        10:30:52Z", "trace_id": "f3ac1102-b163-426f-aec0-efe29b764800", "correlation_id":
        "e3a1d507-4156-4f90-8f19-48a7a61447db", "error_uri": "https://login.microsoftonline.com/error?code=7000215"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"dimension": "concurrent_dft_jobs", "scope": "Subscription",
        "providerId": "microsoft-elements", "utilization": 0.0, "holds": 0.0, "limit":
        5.0, "period": "None"}, {"dimension": "qgs", "scope": "Subscription", "providerId":
        "ionq", "utilization": 0.0, "holds": 0.0, "limit": 16666667.0, "period": "Infinite"},
        {"dimension": "concurrent_resource_estimator_jobs", "scope": "Workspace",
        "providerId": "microsoft-qc", "utilization": 0.0, "holds": 0.0, "limit": 10.0,
        "period": "None"}, {"dimension": "qpu_hours", "scope": "Subscription", "providerId":
        "pasqal", "utilization": 0.0, "holds": 0.0, "limit": 0.167, "period": "Infinite"},
        {"dimension": "emulator_hours", "scope": "Subscription", "providerId": "pasqal",
        "utilization": 1.028551903333333, "holds": 0.0, "limit": 20.0, "period": "Infinite"},
        {"dimension": "provider-credit", "scope": "Subscription", "providerId": "rigetti",
        "utilization": 3.0, "holds": 0.0, "limit": 25000.0, "period": "Infinite"}],
        "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
