interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&claims=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|730,0|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.20.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "refresh_in": 43199, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:57:58 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:06edbbd8-601e-0079-2bc8-314e53000000\nTime:2023-01-26T20:57:59.6437302Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:57:59 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
- request:
    body: b'\x1f\x8b\x08\x00U\xe9\xd2c\x02\xffU\x8c\xc1\n\xc20\x10D\x7f\xa5\xec\xd9H\xb2\xb5\x16\xfd\nAo\xb6HL#\x14LS\x9a\xad
      %\xff\xee\x92\x1ejN;;of\x16p\x96t\xa7I\xc3\xb9X`\xd0\xce\xb2\x80\x9b\r$.\xd4\x1bw\xf5\xef\x8f\x9dD\x03(\xb1\x94\n\x8fBaUWu\x03\x10w\x05\x18\x1f\xe8\xf1\x9a\x07C\xbd\x1f\xd2\x04\xa7\xc3\xaaA\xed%p\x86\xbec\x1a\x1d\xe7\xa7O\xbf\x9d\\`\xe3\xbe\x80\xe1#J\xf6\xfa.9jW\xc8\x96wWRm\x003p\xca\x80\xda\x00n\xa0\xcc\x1a\xe2\x90\x91\xbfJ\x0e\xb0\x8dm\x8c?N\xa2\x80\xc6\x16\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 26 Jan 2023 20:58:00 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PticmSolver-\\"20210101-000000\\"",
      "providerId": "1qbit", "target": "1qbit.pticm", "itemType": "Job", "containerUri":
      "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"auto_set_temperatures":
      "False", "elite_threshold": "0.3", "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing":
      "0.15", "frac_sweeps_idle": "1.0", "frac_sweeps_stagnation": "1.0", "goal":
      "OPTIMIZE", "high_temp": "2", "low_temp": "0.2", "max_samples_per_layer": "10",
      "max_total_sweeps": "1000", "num_elite_temps": "4", "num_replicas": "2", "num_sweeps_per_run":
      "100", "num_temps": "30", "scaling_type": "MEDIAN", "seed": "42", "var_fixing_type":
      "NO_FIXING"}, "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"auto_set_temperatures":
        "False", "elite_threshold": "0.3", "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing":
        "0.15", "frac_sweeps_idle": "1.0", "frac_sweeps_stagnation": "1.0", "goal":
        "OPTIMIZE", "high_temp": "2", "low_temp": "0.2", "max_samples_per_layer":
        "10", "max_total_sweeps": "1000", "num_elite_temps": "4", "num_replicas":
        "2", "num_sweeps_per_run": "100", "num_temps": "30", "scaling_type": "MEDIAN",
        "seed": "42", "var_fixing_type": "NO_FIXING"}, "metadata": null, "sessionId":
        null, "status": "Waiting", "jobType": "Optimization", "outputDataFormat":
        "microsoft.qio-results.v1", "outputDataUri": "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "Test-PticmSolver-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "providerId": "1qbit", "target":
        "1qbit.pticm", "creationTime": "2023-01-26T20:58:00.5767745+00:00", "endExecutionTime":
        null, "costEstimate": null, "itemType": "Job", "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:58:07 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PticmSolver-%252220210101-000000%2522-1c60d2c9-9dbc-11ed-8c55-6045bdaa2ba8.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"auto_set_temperatures": "false", "elite_threshold": "0.3",
        "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing": "0.15", "frac_sweeps_idle":
        "1", "frac_sweeps_stagnation": "1", "goal": "OPTIMIZE", "high_temp": "2",
        "low_temp": "0.2", "manual_temperatures": "", "max_samples_per_layer": "10",
        "max_total_sweeps": "1000", "mc_acceptance_probability": "[ 0.0901598, 0.162338,
        0.167458, 0.190185, 0.221778, 0.182817, 0.253621, 0.248751, 0.283092, 0.303447,
        0.319056, 0.33529, 0.367258, 0.379745, 0.413087, 0.440684, 0.477647, 0.492133,
        0.514361, 0.557692, 0.551324, 0.584416, 0.609515, 0.624376, 0.651598, 0.673452,
        0.686064, 0.704046, 0.741883, 0.769481 ]", "num_elite_temps": "4", "num_replicas":
        "2", "num_sweeps_per_run": "100", "num_temps": "30", "pt_acceptance_probability":
        "[ 0.334166, 0.27972, 0.327672, 0.289211, 0.134366, 0.516983, 0.3996, 0.48951,
        0.483516, 0.541958, 0.53047, 0.574925, 0.595405, 0.602398, 0.651349, 0.665834,
        0.7003, 0.684815, 0.705295, 0.731269, 0.714286, 0.734266, 0.727273, 0.71978,
        0.720779, 0.677822, 0.602398, 0.531968, 0.388112 ]", "runs_counter": "9",
        "scaling_factor": "4", "scaling_type": "MEDIAN", "seed": "42", "solver_name":
        "PTICM", "sweeps_to_best": "1", "time_to_best": "4", "total_sweeps": "1000",
        "var_fixing_type": "NO_FIXING"}, "solutions": [{"configuration": {"0": "1",
        "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.pticm", "version":
        "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-1577/1578
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - fcyLVNb5KGswlKYilr6bGA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 26 Jan 2023 20:58:02 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 206
      message: Partial Content
[...]
