interactions:
- request:
    body: client_id=PLACEHOLDER&grant_type=client_credentials&client_assertion=PLACEHOLDER&client_info=1&client_assertion_type=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-current-telemetry:
      - 4|730,2|
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.28.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 1746122811, "ext_expires_in":
        1746122811, "refresh_in": 31536000, "access_token": "PLACEHOLDER"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"dimension": "concurrent_dft_jobs", "scope": "Subscription",
        "providerId": "microsoft-elements", "utilization": 0.0, "holds": 0.0, "limit":
        5.0, "period": "None"}, {"dimension": "qgs", "scope": "Subscription", "providerId":
        "ionq", "utilization": 0.0, "holds": 0.0, "limit": 16666667.0, "period": "Infinite"},
        {"dimension": "concurrent_resource_estimator_jobs", "scope": "Workspace",
        "providerId": "microsoft-qc", "utilization": 0.0, "holds": 0.0, "limit": 10.0,
        "period": "None"}, {"dimension": "qpu_hours", "scope": "Subscription", "providerId":
        "pasqal", "utilization": 0.0, "holds": 0.0, "limit": 0.167, "period": "Infinite"},
        {"dimension": "emulator_hours", "scope": "Subscription", "providerId": "pasqal",
        "utilization": 1.1056251225, "holds": 0.0, "limit": 20.0, "period": "Infinite"},
        {"dimension": "provider-credit", "scope": "Subscription", "providerId": "rigetti",
        "utilization": 3.0, "holds": 0.0, "limit": 25000.0, "period": "Infinite"}],
        "nextLink": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
