interactions:
- request:
    body: client_id=00000000-0000-0000-0000-000000000000&grant_type=client_credentials&client_info=1&client_secret=PLACEHOLDER&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 1|730,0|
      x-client-os:
      - darwin
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.9.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "136e612e-b7a9-11eb-866d-acde48001122"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus2euap.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Quantum/workspaces/dummy-ws/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 18 May 2021 07:17:18 GMT
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:4b128a6e-c01e-012c-11b5-4b59c3000000\nTime:2021-05-18T07:17:19.0462411Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-04-08'
    status:
      code: 404
      message: The specified container does not exist.
[...]
- request:
    body: 'b''{"cost_function":{"version":"1.0","type":"ising","terms":[{"c": 0, "ids":
      [0, 1]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=block&blockid=ICAgICAgICAgMA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 1, "ids": [1, 2]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=block&blockid=ICAgICAgICAgMQ%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 2, "ids": [2, 3]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=block&blockid=ICAgICAgICAgMg%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: 'b'',{"c": 3, "ids": [3, 4]}'''
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=block&blockid=ICAgICAgICAgMw%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: b']}}'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=block&blockid=ICAgICAgICAgNA%3D%3D&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<BlockList><Latest>ICAgICAgICAgMA==</Latest><Latest>ICAgICAgICAgMQ==</Latest><Latest>ICAgICAgICAgMg==</Latest><Latest>ICAgICAgICAgMw==</Latest><Latest>ICAgICAgICAgNA==</Latest></BlockList>"
    headers:
      Content-Type:
      - application/xml
      x-ms-blob-content-encoding:
      - identity
      x-ms-blob-content-type:
      - application/json
      x-ms-date:
      - Tue, 18 May 2021 07:17:19 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-meta-avg_coupling:
      - '2.0'
      x-ms-meta-max_coupling:
      - '2'
      x-ms-meta-min_coupling:
      - '2'
      x-ms-meta-num_terms:
      - '4'
      x-ms-meta-type:
      - ising
      x-ms-version:
      - '2020-04-08'
    method: PUT
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?comp=blocklist&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-04-08'
    status:
      code: 201
      message: Created
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 18 May 2021 07:17:20 GMT
      x-ms-encryption-algorithm:
      - AES256
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-04-08'
    method: GET
    uri: https://getest2.blob.core.windows.net/136e612e-b7a9-11eb-866d-acde48001122/136e612e-b7a9-11eb-866d-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: '{"cost_function": {"version": "1.0", "type": "ising", "terms": [{"c":
        0, "ids": [0, 1]}, {"c": 1, "ids": [1, 2]}, {"c": 2, "ids": [2, 3]}, {"c":
        3, "ids": [3, 4]}]}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 18 May 2021 07:17:20 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-04-08'
    status:
      code: 206
      message: Partial Content
version: 1
