.grid-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 800px;
  width: 100%;
}

.diagram {
  flex: 3 1 0;
  overflow: hidden;
}

.table {
  flex: 1 1 0;
  margin-left: 5px;
  align-self: center;
}
