.grid-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  height: 1000px;
}

.diagram {
  width: 60%;
  flex: 1 1 1000px;
}

.table {
  flex: 1 1 0;
  margin-left: 5px;
  padding-top: 100px;
}
