.grid-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}

.diagram {
  width: 60%;
  flex: 1 1 1000px;
  overflow-x: auto;
  height: 1000px;
  margin-right: 5px;
}

.table {
  width: 40%;
  flex: 1 1 1000px;
  overflow-x: auto;
  height: 1000px;
  margin-left: 5px;
  padding-top: 100px;
}
