interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas
  response:
    body:
      string: '{"value": [{"dimension": "combined_job_hours", "scope": "Workspace",
        "providerId": "Microsoft", "utilization": 0.011223818027777777, "holds": 0.0,
        "limit": 5.0, "period": "Monthly"}, {"dimension": "combined_job_hours", "scope":
        "Subscription", "providerId": "Microsoft", "utilization": 0.011223818027777777,
        "holds": 0.0, "limit": 1000.0, "period": "Monthly"}, {"dimension": "concurrent_cpu_jobs",
        "scope": "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds":
        0.0, "limit": 5.0, "period": "None"}, {"dimension": "fpga_job_hours", "scope":
        "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds": 0.0,
        "limit": 1.0, "period": "Monthly"}, {"dimension": "fpga_job_hours", "scope":
        "Subscription", "providerId": "Microsoft", "utilization": 0.0, "holds": 0.0,
        "limit": 1000.0, "period": "Monthly"}, {"dimension": "concurrent_fpga_jobs",
        "scope": "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds":
        0.0, "limit": 1.0, "period": "None"}, {"dimension": "qgs", "scope": "Subscription",
        "providerId": "ionq", "utilization": 0.0, "holds": 0.0, "limit": 16666667.0,
        "period": "Infinite"}], "nextLink": null, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas
version: 1
