interactions:
- request:
    body: '{"client_id": "00000000-0000-0000-0000-000000000000", "client_secret":
      "PLACEHOLDER", "grant_type": "client_credentials", "scope": "https://quantum.microsoft.com/.default"}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "unauthorized_client", "error_description": "AADSTS700038:
        00000000-0000-0000-0000-000000000000 is not a valid application identifier.\r\nTrace
        ID: d961e891-75d9-4e93-bd73-70a97306b300\r\nCorrelation ID: 4d0675ea-9c10-40fe-8f25-b00c747ca3be\r\nTimestamp:
        2021-08-10 00:00:56Z", "error_codes": [700038], "timestamp": "2021-08-10 00:00:56Z",
        "trace_id": "d961e891-75d9-4e93-bd73-70a97306b300", "correlation_id": "4d0675ea-9c10-40fe-8f25-b00c747ca3be",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token
version: 1
