interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"error": "unauthorized_client", "error_description": "AADSTS700016:
        Application with identifier ''00000000-0000-0000-0000-000000000000'' was not
        found in the directory ''00000000-0000-0000-0000-000000000000''. This can
        happen if the application has not been installed by the administrator of the
        tenant or consented to by any user in the tenant. You may have sent your authentication
        request to the wrong tenant.\r\nTrace ID: 2a6fb6e6-74fb-4bda-82d9-94b07da30800\r\nCorrelation
        ID: 1d8ef5e4-5c12-4a28-859c-9448a77435b2\r\nTimestamp: 2021-08-25 19:11:49Z",
        "error_codes": [700016], "timestamp": "2021-08-25 19:11:49Z", "trace_id":
        "2a6fb6e6-74fb-4bda-82d9-94b07da30800", "correlation_id": "1d8ef5e4-5c12-4a28-859c-9448a77435b2",
        "error_uri": "https://login.microsoftonline.com/error?code=700016", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/providerStatus
  response:
    body:
      string: '{"value": [{"id": "Microsoft", "currentAvailability": "Available",
        "targets": [{"id": "microsoft.paralleltempering-parameterfree.cpu", "currentAvailability":
        "Available", "averageQueueTime": 0, "statusPage": null}, {"id": "microsoft.paralleltempering.cpu",
        "currentAvailability": "Available", "averageQueueTime": 0, "statusPage": null},
        {"id": "microsoft.simulatedannealing-parameterfree.cpu", "currentAvailability":
        "Available", "averageQueueTime": 0, "statusPage": null}, {"id": "microsoft.simulatedannealing.cpu",
        "currentAvailability": "Available", "averageQueueTime": 0, "statusPage": null},
        {"id": "microsoft.tabu-parameterfree.cpu", "currentAvailability": "Ava[...]
[...]
