interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "qc-test-2d086526-3242-11ec-b948-acde48001122"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:36 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:7cacf5ce-d01e-0041-714e-c6c709000000\nTime:2021-10-21T07:40:37.4891964Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:37 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-10-02'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b'\x1f\x8b\x08\x00r\x19qa\x02\xffU\x8c\xcd\n\xc3 \x10\x84_%\xec9\x16\xffzh\x9f\xa3\xb7&\x14c,\x04\xaa\x065\x81\x12|\xf7.\xe6`=,;;\xdf\xce\x1c`MR\xb3J\n\xee\xdd\x01NY\x83\x02\x1e&&\xb2\x06?}\x8c%\x03p\xca\x19\xc3!\x94J*\xe4\x00\x90\xfb\x0e\xb4\x8f\xe9\xf5\xde\x9cN\x8bw%\xbe\x9b\x10O\r\xecB\x01\x7f\xd2w-\x85\xeb6\xf9r\x9b`#\x1a\xcf\x034."\xd0[\xe6\xe2\xb0\xbe\xa3#\xf6\x9e\xe4Z\x01o\xc0\xad\x01\xac\x02^\x81h\x12D6\xe4/\xd2\x02>\xe61\xe7\x1f\xe7\xd3\xe1\xee\x12\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:38 GMT
      x-ms-version:
      - '2020-10-02'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-10-02'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:38 GMT
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:1091a7a7-001e-0020-564e-c6e44a000000\nTime:2021-10-21T07:40:39.5043823Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-10-02'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
      "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"improvement_cutoff":
        "10"}, "providerId": "1qbit", "target": "1qbit.tabu", "metadata": null, "name":
        "Optimization problem", "id": "00000000-0000-0000-0000-000000000000", "status":
        "Waiting", "outputDataFormat": "microsoft.qio-results.v1", "outputDataUri":
        "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-10-21T07:40:39.985402+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:42 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-2f85d5b8-3242-11ec-b948-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"improvement_cutoff": "10", "improvement_tolerance": "1e-09",
        "seed (GENERATED)": "42617665", "solver_name": "Tabu", "tabu_tenure (COMPUTED)":
        "2", "tabu_tenure_rand_max (COMPUTED)": "2"}, "solutions": [{"configuration":
        {"0": "1", "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.tabu",
        "version": "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-527/528
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - nSq6mlL5nxI8IvgePa+/XQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 07:40:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-2f85d5b8-3242-11ec-b948-acde48001122.output.json
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"num_sweeps_per_run":
      "99"}, "providerId": "1qbit", "target": "1qbit.pticm", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:47 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-324d542e-3242-11ec-b948-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"auto_set_temperatures": "true", "elite_threshold": "0.3",
        "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing": "0.15", "frac_sweeps_idle":
        "1", "frac_sweeps_stagnation": "1", "goal": "OPTIMIZE", "high_temp": "0.737746",
        "low_temp": "0.0737746", "manual_temperatures": "", "max_samples_per_layer":
        "10", "max_total_sweeps": "1000", "mc_acceptance_probability": "[ 0.016983,
        0.0328422, 0.0408342, 0.0295954, 0.0756743, 0.0345904, 0.0625624, 0.0996504,
        0.0605644, 0.133616, 0.0739261, 0.139985, 0.13986, 0.121254, 0.18956, 0.14011,
        0.195929, 0.197428, 0.227273, 0.248501, 0.266858, 0.302697, 0.300075, 0.354021,
        0.322428, 0.395979, 0.395979, 0.430569, 0.472902, 0.520604 ]", "num_elite_temps":
        "4", "num_replicas": "2", "num_sweeps_per_run": "99", "num_temps": "30", "pt_acceptance_probability":
        "[ 0.0494506, 0.0584416, 0.00549451, 0.0834166, 0.012987, 0.0979021, 0.0969031,
        0.003996, 0.155844, 0, 0.2003, 0.041958, 0.0629371, 0.284715, 0.0974026, 0.419081,
        0.31968, 0.407592, 0.401099, 0.409091, 0.365634, 0.247253, 0.540959, 0.303696,
        0.620879, 0.555944, 0.516983, 0.473526, 0.340659 ]", "runs_counter": "10",
        "scaling_factor": "4", "scaling_type": "MEDIAN", "seed (GENERATED)": "3773039246",
        "solver_name": "PTICM", "sweeps_to_best": "1", "time_to_best": "29", "total_sweeps":
        "1000", "var_fixing_type": "NO_FIXING"}, "solutions": [{"configuration": {"0":
        "1", "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.pticm",
        "version": "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-1620/1621
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - os4gr8dMsZ6Y4APb/b/Lkw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 07:40:44 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-324d542e-3242-11ec-b948-acde48001122.output.json
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"distance_scale": "0.44"},
      "providerId": "1qbit", "target": "1qbit.pathrelinking", "outputDataFormat":
      "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.bl[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:40:52 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-3539c1ea-3242-11ec-b948-acde48001122.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"distance_scale": "0.44", "greedy_path_relinking": "false",
        "ref_set_count": "10", "seed (GENERATED)": "1646248912", "solver_name": "PathRelinking"},
        "solutions": [{"configuration": {"0": "1", "1": "1", "2": "0", "3": "1"},
        "cost": -5.0}], "target": "1qbit.pathrelinking", "version": "1.0", "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-503/504
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - jJjE1x9Y6CYwoSwNaCtPwg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 07:40:49 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-3539c1ea-3242-11ec-b948-acde48001122.output.json
[...]
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Optimization
      problem", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"loops": 10}, "providerId":
      "toshiba", "target": "toshiba.sbm.ising", "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.wi[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 07:41:00 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-10-02'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-37c25954-3242-11ec-b948-acde48001122.output.json
  response:
    body:
      string: '{"target": "toshiba.sbm.ising", "version": "1.0", "input_params": {"loops":
        10}, "input_data_uri": "https://mystorage.blob.core.windows.net/qc-test-2d086526-3242-11ec-b948-acde48001122/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "solutions": [{"cost": -5.0, "configuration": {"0": 1, "1": 1, "2": 0, "3":
        1}, "parameters": {"runs": 1600, "message": "finished", "time": 0.022}}],
        "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-449/450
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - D7QaSqmflhKpTWHBXQuVrQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 07:40:54 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-10-02'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DOptimization%2Bproblem-37c25954-3242-11ec-b948-acde48001122.output.json
version: 1
