interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas?api-version=2022-09-12-preview&test-sequence-id=1
  response:
    body:
      string: '{"value": [{"dimension": "combined_job_hours", "scope": "Workspace",
        "providerId": "Microsoft", "utilization": 0.005441370416666669, "holds": 0.0,
        "limit": 5.0, "period": "Monthly"}, {"dimension": "combined_job_hours", "scope":
        "Subscription", "providerId": "Microsoft", "utilization": 0.005441370416666669,
        "holds": 0.0, "limit": 1000.0, "period": "Monthly"}, {"dimension": "concurrent_cpu_jobs",
        "scope": "Workspace", "providerId": "Microsoft", "utilization": 0.0, "holds":
        0.0, "limit": 5.0, "period": "None"}, {"dimension": "qgs", "scope": "Subscription",
        "providerId": "ionq", "utilization": 333340.0, "holds": 0.0, "limit": 16666667.0,
        "period": "Infinite"}, {"dimension": "concurrent_resource_estimator_jobs",
        "scope": "Workspace", "providerId": "microsoft-qc", "utilization": 0.0, "holds":
        0.0, "limit": 10.0, "period": "None"}], "nextLink": null, "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/quotas?api-version=2022-09-12-preview
version: 1
