interactions:
- request:
    body: None
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2018-01-01
  response:
    body:
      string: '{"error": {"code": "AuthenticationFailed", "message": "Authentication
        failed. The ''Authorization'' header is missing."}, "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=PLACEHOLDER&grant_type=authorization_code&client_info=1&claims=PLACEHOLDER&code_verifier=PLACEHOLDER&code_verifier=PLACEHOLDER&redirect_uri=http%3A%2F%2Flocalhost%3A8400&scope=https%3A%2F%2Fquantum.microsoft.com%2F.default+offline_access+openid+profile
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      x-client-cpu:
      - x64
      x-client-current-telemetry:
      - 4|832,0|
      x-client-os:
      - linux
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.12.0
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3598, "ext_expires_in": 3598,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.quantum.azure.com/v1.0/subscriptions/916dfd6d-030c-4bd9-b579-7bb6d1926e97/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests/storage/sasUri
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 10 Aug 2021 00:10:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:408a1406-501e-0012-337c-8de43d000000\nTime:2021-08-10T00:10:07.9469024Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://e2etests.blob.core.windows.net/job-33b3f93c-f96f-11eb-b85d-00155d106da5?restype=container&sv=2019-02-02&sig=GLRPV1qMPrrPLsdUdZGu8EAXylQ8M6LyS4RAYorsv6k%3D&se=2021-08-14T00:10:07Z&srt=co&ss=b&sp=racw
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 10 Aug 2021 00:10:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://e2etests.blob.core.windows.net/job-33b3f93c-f96f-11eb-b85d-00155d106da5?restype=container&sv=2019-02-02&sig=GLRPV1qMPrrPLsdUdZGu8EAXylQ8M6LyS4RAYorsv6k%3D&se=2021-08-14T00:10:07Z&srt=co&ss=b&sp=racw
- request:
    body: b'OPENQASM 2.0;\n        include "qelib1.inc";\n\n        qreg q[3];\n        creg
      c0[1];\n        creg c1[3];\n\n        h q[0];\n        cx q[0], q[1];\n        x
      q[2];\n        h q[2];\n        cx q[2], q[0];\n        h q[2];\n        measure
      q[0] -> c1[0];\n        c0[0] = c1[0];\n        if (c0==1) x q[1];\n        c0[0]
      = 0;\n        measure q[2] -> c1[1];\n        c0[0] = c1[1];\n        if (c0==1)
      z q[1];\n        c0[0] = 0;\n        h q[1];\n        measure q[1] -> c1[2];\n        '
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 10 Aug 2021 00:10:08 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://e2etests.blob.core.windows.net/job-33b3f93c-f96f-11eb-b85d-00155d106da5/inputData?sv=2019-02-02&sig=GLRPV1qMPrrPLsdUdZGu8EAXylQ8M6LyS4RAYorsv6k%3D&se=2021-08-14T00:10:07Z&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "honeywell-job",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {}, "providerId":
      "honeywell", "target": "honeywell.hqs-lt-s1-apival", "outputDataFormat": "honeywell.quantum-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "honeywell.openqasm.v1", "inputParams": {}, "providerId":
        "honeywell", "target": "honeywell.hqs-lt-s1-apival", "metadata": null, "name":
        "honeywell-job", "id": "00000000-0000-0000-0000-000000000000", "status": "Waiting",
        "outputDataFormat": "honeywell.quantum-results.v1", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-08-10T00:10:08.2243059+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://westus2.quantum.azure.com/v1.0/subscriptions/916dfd6d-030c-4bd9-b579-7bb6d1926e97/resourceGroups/e2e-scenarios/providers/Microsoft.Quantum/workspaces/e2e-qsharp-tests/jobs/33b3f93c-f96f-11eb-b85d-00155d106da5
- request:
    body: None
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
[...]
- request:
    body: None
    headers:
      x-ms-date:
      - Tue, 10 Aug 2021 00:10:14 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=7zea/16SQlTFzIAeNI0bN0cpmY1vbTpLN9qtqaEhr6Q%3D&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3Dhoneywell-job-00000000-0000-0000-0000-000000000000.output.json
  response:
    body:
      string: '{"c0": ["0"], "c1": ["000"], "access_token": "fake_token"}'
    headers:
      content-disposition:
      - attachment; filename=honeywell-job-00000000-0000-0000-0000-000000000000.output.json
      content-range:
      - bytes 0-27/28
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - RNYTQPG2IMxqvJp0n7itZw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 10 Aug 2021 00:10:08 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
    url: https://e2etests.blob.core.windows.net/job-33b3f93c-f96f-11eb-b85d-00155d106da5/rawOutputData?sv=2019-02-02&sr=b&sig=7zea/16SQlTFzIAeNI0bN0cpmY1vbTpLN9qtqaEhr6Q%3D&se=2021-08-14T00:10:13Z&sp=r&rscd=attachment%3B%20filename%3Dhoneywell-job-33b3f93c-f96f-11eb-b85d-00155d106da5.output.json
version: 1
