interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 May 2022 01:12:31 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:c133ac74-e01e-0065-1ad4-6431a9000000\nTime:2022-05-11T01:12:31.2891451Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-04-10'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 May 2022 01:12:31 GMT
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-04-10'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b'\x1f\x8b\x08\x00~\r{b\x02\xffU\xccA\x0e\x83 \x10\x05\xd0\xab\x98YK\x03cM\xda\x9e\xa2\x0bwj\x1a\xaa\xd3\xc6D\xc0\x006i\x0cw/\xc1\x85e\xc5\xf0\xdf\xcc\xdf@\x91\x97\xa3\xf4\x12n\xc5\x06Z*\x8a\x034\xe4<\xbbK+\xe7\x99\xe6\x86\xd4Bv\xd2o\xd6\x01rD^\x0b\xce\xc4E`\xc5;\x80P\x160\x18\xe7\x1f\xafU\x0f~2:\x15}\xc8\xba}\x06q\xe2\x10w\xfcwI\xd5\xcb\xfa4\xe9OV\xb9\x18\xb4\x1b\x0c\xf1aU\xcc\xa61%\xa2,x\x1f{w\xa9\x0f\xc0\x0c\xae\x19\x88\x03\xf0\x80*\xbb`\xe7L\xfeNr\xc0>\xf4!\xfc\x00\x0f\xf7\x02\x7f\x1c\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 11 May 2022 01:12:31 GMT
      x-ms-version:
      - '2021-04-10'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-04-10'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-ParallelTempering-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      100}}, "providerId": "Microsoft", "target": "microsoft.paralleltempering.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        100}}, "providerId": "microsoft", "target": "microsoft.paralleltempering.cpu",
        "metadata": null, "name": "Test-ParallelTempering-\"20210101-000000\"", "id":
        "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-05-11T01:12:31.7490383+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 11 May 2022 01:12:35 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-04-10'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-ParallelTempering-%252220210101-000000%2522-6df70377-d0c7-11ec-9ecc-2816a847b9a3.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"1": 1, "0": 1, "2": 0, "3": 1},
        "cost": -5.0, "solutions": [{"configuration": {"1": 1, "0": 1, "2": 0, "3":
        1}, "cost": -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-169/170
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - oO3WY1+vPlumWsKVwlLwdg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 11 May 2022 01:12:32 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-04-10'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-ParallelTempering-%252220210101-000000%2522-6df70377-d0c7-11ec-9ecc-2816a847b9a3.output.json
[...]
