interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 21 Sep 2022 00:16:04 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:a568d43c-701e-0005-104f-cd4d36000000\nTime:2022-09-21T00:16:04.9587799Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 21 Sep 2022 00:16:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b'\x1f\x8b\x08\x00\xc4W*c\x02\xffU\x8c\xc1\n\xc20\x10D\x7f\xa5\xec\xd9H\xb2\xadJ\xfd\nAo\xb6HL#\x14LS\x9a\xad
      %\xff\xee\x92\x1ejN;;of\x16p\x96t\xa7I\xc3\xb9X`\xd0\xce\xb2\x80\x9b\r$.\xd4\x1bw\xf5\xef\x8f\x9dD\x03(\x11e\x8dR\xa8\x93:\xca\xaa\x01\x88\xbb\x02\x8c\x0f\xf4x\xcd\x83\xa1\xde\x0fi\x82\xd3a\xd5\xa0\xf6\x128C\xdf1\x8d\x8e\xf3\xd3\xa7\xdfN.\xb0q_\xc0\xf0\x11%{}\x97\x1c\xb5+d\xcb\xbb+9l\x003Pg@m\x007Pf\rQe\xe4\xaf\x92\x03lc\x1b\xe3\x0f\x96u\x98\xa5\x16\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Wed, 21 Sep 2022 00:16:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PticmSolver-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"num_sweeps_per_run":
      "99"}, "providerId": "1qbit", "target": "1qbit.pticm", "outputDataFormat": "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"num_sweeps_per_run":
        "99"}, "providerId": "1qbit", "target": "1qbit.pticm", "metadata": null, "name":
        "Test-PticmSolver-\"20210101-000000\"", "id": "00000000-0000-0000-0000-000000000000",
        "status": "Waiting", "outputDataFormat": "microsoft.qio-results.v1", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2022-09-21T00:16:05.2162627+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "costEstimate":
        null, "errorData": null, "isCancelling": false, "tags": [], "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 21 Sep 2022 00:16:08 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PticmSolver-%252220210101-000000%2522-94adc33e-3942-11ed-91e6-b831b5915c7e.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"auto_set_temperatures": "true", "elite_threshold": "0.3",
        "frac_icm_thermal_layers": "0.5", "frac_sweeps_fixing": "0.15", "frac_sweeps_idle":
        "1", "frac_sweeps_stagnation": "1", "goal": "OPTIMIZE", "high_temp": "0.688727",
        "low_temp": "0.0688727", "manual_temperatures": "", "max_samples_per_layer":
        "10", "max_total_sweeps": "1000", "mc_acceptance_probability": "[ 0.0138611,
        0.0314685, 0.0330919, 0.0387113, 0.0295954, 0.0558192, 0.0739261, 0.037962,
        0.09503, 0.0565684, 0.115759, 0.0807942, 0.151598, 0.134116, 0.107143, 0.182692,
        0.187438, 0.234765, 0.170205, 0.249376, 0.235015, 0.273601, 0.262363, 0.325549,
        0.319181, 0.370005, 0.392358, 0.407468, 0.448551, 0.493506 ]", "num_elite_temps":
        "4", "num_replicas": "2", "num_sweeps_per_run": "99", "num_temps": "30", "pt_acceptance_probability":
        "[ 0.027972, 0.002997, 0, 0, 0.0959041, 0.0784216, 0, 0.105894, 0.00549451,
        0.157842, 0.028971, 0.183816, 0.0044955, 0.011988, 0.352647, 0.276723, 0.255744,
        0.048951, 0.513986, 0.342158, 0.37013, 0.20979, 0.606893, 0.46004, 0.522478,
        0.542957, 0.516983, 0.456044, 0.344655 ]", "runs_counter": "10", "scaling_factor":
        "4", "scaling_type": "MEDIAN", "seed (GENERATED)": "844216748", "solver_name":
        "PTICM", "sweeps_to_best": "1", "time_to_best": "2", "total_sweeps": "1000",
        "var_fixing_type": "NO_FIXING"}, "solutions": [{"configuration": {"0": "1",
        "1": "1", "2": "0", "3": "1"}, "cost": -5.0}], "target": "1qbit.pticm", "version":
        "1.0", "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-1600/1601
      content-type:
      - application/octet-stream
      x-ms-blob-content-md5:
      - CpBUMpXWDOCIwxnTLvEY6w==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 21 Sep 2022 00:16:05 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PticmSolver-%252220210101-000000%2522-94adc33e-3942-11ed-91e6-b831b5915c7e.output.json
[...]
