interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri?api-version=2022-09-12-preview
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:00:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:8313a105-b01e-0027-7ec0-31a5b3000000\nTime:2023-01-26T20:00:05.2972342Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2021-08-06'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:00:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2021-08-06'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b"\x1f\x8b\x08\x00\xc4\xdb\xd2c\x02\xffU\x8c\xc1\x0e\x820\x10D\x7f\x85\xec\x99\x9a\xed\x82&z\xf3\x0f<x\x13b*TC\x02mC[\x13C\xfa\xef\xd6r\xc0\x9evv\xde\xcc,0I'z\xe1\x04\x9c\x8a\x05\x94\x98d\x14p\x95\xd6\xb1\x8b6~\x14n\xd0\xea\xac\x94\x14\xe3\xa0^\xac\x01B\xaa\x90\xd3\x81qB\xc4\xba\x01\x08e\x01\x9d\xb6\xee\xfe\xf4\xaa\xfb\xc5\xd3\xd4[\xcev\xd5\xc0w\x081\xe3>&\x8d\x1b\xff\xd0\xe9\x97\xf3d\xa3q[\xa0\x8b\x87U\xd1\x1b\xfa\xe4\xf0\xb2\xc06\xee\xaed\xbf\x01\xca\xc01\x03|\x03\xb4\x81*k\xb0:#\x7f\x95\x1cP\x1b\xda\x10\xbe\xe2p\x9b`\x1e\x01\x00\x00"
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 26 Jan 2023 20:00:05 GMT
      x-ms-version:
      - '2021-08-06'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2021-08-06'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PopulationAnnealing-\\"20210101-000000\\"",
      "providerId": "Microsoft", "target": "microsoft.populationannealing.cpu", "itemType":
      "Job", "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
      200}}, "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"sweeps":
        200}}, "metadata": null, "sessionId": null, "status": "Waiting", "jobType":
        "Optimization", "outputDataFormat": "microsoft.qio-results.v2", "outputDataUri":
        "https://mystorage.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "beginExecutionTime": null, "cancellationTime": null, "quantumComputingData":
        null, "errorData": null, "isCancelling": false, "tags": [], "name": "Test-PopulationAnnealing-\"20210101-000000\"",
        "id": "00000000-0000-0000-0000-000000000000", "providerId": "microsoft", "target":
        "microsoft.populationannealing.cpu", "creationTime": "2023-01-26T20:00:05.7740847+00:00",
        "endExecutionTime": null, "costEstimate": null, "itemType": "Job", "access_token":
        "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000?api-version=2022-09-12-preview
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 26 Jan 2023 20:00:08 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2021-08-06'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PopulationAnnealing-%252220210101-000000%2522-06785b14-9db4-11ed-8469-6045bdaa2ba8.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"0": 1, "1": 1, "2": 0, "3": 1},
        "cost": -5.0, "parameters": {"alpha": 2.0, "beta": {"final": 5.0, "initial":
        0.0, "type": "linear"}, "beta_start": 0.0, "beta_stop": 5.0, "constant_population":
        false, "population": 72, "seed": 837425774, "sweeps": 200, "sweeps_per_replica":
        1}, "solutions": [{"configuration": {"0": 1, "1": 1, "2": 0, "3": 1}, "cost":
        -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-569/570
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - 81H6O+PYAN2YEg9pQnp/LA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 26 Jan 2023 20:00:06 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2021-08-06'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PopulationAnnealing-%252220210101-000000%2522-06785b14-9db4-11ed-8469-6045bdaa2ba8.output.json
[...]
