interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Oct 2021 00:54:13 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:e425920b-a01e-0064-2083-c46e75000000\nTime:2021-10-19T00:54:20.4921256Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Oct 2021 00:54:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b'\x1f\x8b\x08\x005\x17na\x02\xffU\xccM\x0e\x83 \x10\x05\xe0\xab\x98YK\xc3\xa0\xa6?;\xcf\xd0\xee\xaai\xa8N\x1b\x12A#\xd8\xa41\xdc\xbd\x04\x17\x96\x15\xc3\xfbf\xde\n\x9a\x9c\xec\xa5\x93p\xc9V0RS\x18\xe0F\xd6\xb1\xab\xd2\xcb
      \x1d\xf5\xb51$\x07e\xde\xac\x01\xc1\x05"\xc7\x13\xc3cUb\xd1\x00\xf8<\x83n\xb4\xee\xf1ZL\xe7\xd4hb\xd3\x87f\xbb\xcd\x80\x07\x0ea\xc7}\xa7\xd8=-\xcf1\xfei\xd66\x04\xf7\x15\xba\xf0\xb0"d\xaa\x8f\t\xe6\x19oC\xef&\xd5\x0e"\x81s\x02\xb8\x83\xd8\xa1H.X\x99\xc8\xdfI\n\xa2\xf5\xad\xf7?\xe2Zee\x1d\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Tue, 19 Oct 2021 00:54:14 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-SimulatedAnnealing-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"beta_start":
      0}}, "providerId": "Microsoft", "target": "microsoft.simulatedannealing.cpu",
      "outputDataFormat": "microsoft.qio-results.v2"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"params": {"beta_start":
        0}}, "providerId": "microsoft", "target": "microsoft.simulatedannealing.cpu",
        "metadata": null, "name": "Test-SimulatedAnnealing-\"20210101-000000\"", "id":
        "00000000-0000-0000-0000-000000000000", "status": "Waiting", "outputDataFormat":
        "microsoft.qio-results.v2", "outputDataUri": "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-10-19T00:54:20.6461244+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Oct 2021 00:54:24 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-SimulatedAnnealing-%252220210101-000000%2522-140125e4-3077-11ec-b6d8-00155d7e7626.output.json
  response:
    body:
      string: '{"version": "1.0", "configuration": {"1": 1, "0": 1, "2": 0, "3": 1},
        "cost": -5.0, "solutions": [{"configuration": {"1": 1, "0": 1, "2": 0, "3":
        1}, "cost": -5.0}], "access_token": "fake_token"}'
    headers:
      content-range:
      - bytes 0-169/170
      content-type:
      - application/json
      x-ms-blob-content-md5:
      - oO3WY1+vPlumWsKVwlLwdg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Tue, 19 Oct 2021 00:54:21 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-SimulatedAnnealing-%252220210101-000000%2522-140125e4-3077-11ec-b6d8-00155d7e7626.output.json
[...]
