interactions:
- request:
    body: '{''client_id'': ''00000000-0000-0000-0000-000000000000'', ''client_secret'':
      ''PLACEHOLDER'', ''grant_type'': ''client_credentials'', ''scope'': ''https://quantum.microsoft.com/.default''}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 86399, "ext_expires_in": 86399,
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token
- request:
    body: 'b''{"containerName": "job-00000000-0000-0000-0000-000000000000"}'''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
  response:
    body:
      string: '{"sasUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/storage/sasUri
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 12:05:27 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The
        specified container does not exist.\nRequestId:bfa6f155-401e-0021-3773-c6bb96000000\nTime:2021-10-21T12:05:37.0951178Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2020-06-12'
    status:
      code: 404
      message: The specified container does not exist.
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 12:05:27 GMT
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2020-06-12'
    status:
      code: 200
      message: OK
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?restype=container&sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: b'\x1f\x8b\x08\x00\x87Wqa\x02\xffU\x8c\xc1\x0e\x820\x10D\x7f\x85\xec\x99\x9a\xb6H\x8c~\x85QoBL\x85\xaa\x8d\xd0\x12\xba\x98\x18\xd2\x7fwS\x0e\xd8\xc3fw\xe7\xcd\xcc\x0c\xbdF\xd5*Tp\xc8f\xb0\xaa\xd7t\xc0E{dG\x85\xaf\x93\xee\x8c}\x1b\xfb<\xbb\xee\xa3GV\x81\xe4R\x08\x1a\xc6K^\xca]\x05\x10\xf2\x0c\x1a\xe7\xf1\xf6\x98l\x83\xc6\xd9XEn\xbf\xdc
      6\x1c\xc8\x83\xdf!\x96\x0f\xd3\xdd\xc5_\x8f\xbd\'\xe1:CC\x8b\x15\xa4\x996*"\xcfxM\xbd\x0b)W
      \x13\xb0O\x80X\x81\\A\x91$\xd86!\x7f\x91\x14\xc8:\xd4!\xfc\x00\xbbC\xd0E\x1e\x01\x00\x00'
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Thu, 21 Oct 2021 12:05:27 GMT
      x-ms-version:
      - '2020-06-12'
    method: PUT
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2020-06-12'
    status:
      code: 201
      message: Created
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw
- request:
    body: 'b''{"id": "00000000-0000-0000-0000-000000000000", "name": "Test-PathRelinkingSolver-\\"20210101-000000\\"",
      "containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
      "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
      "inputDataFormat": "microsoft.qio.v2", "inputParams": {"distance_scale": "0.44"},
      "providerId": "1qbit", "target": "1qbit.pathrelinking", "outputDataFormat":
      "microsoft.qio-results.v1"}'''
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData",
        "inputDataFormat": "microsoft.qio.v2", "inputParams": {"distance_scale": "0.44"},
        "providerId": "1qbit", "target": "1qbit.pathrelinking", "metadata": null,
        "name": "Test-PathRelinkingSolver-\"20210101-000000\"", "id": "00000000-0000-0000-0000-000000000000",
        "status": "Waiting", "outputDataFormat": "microsoft.qio-results.v1", "outputDataUri":
        "https://e2etests.blob.core.windows.net:443/job-00000000-0000-0000-0000-000000000000/outputData?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "creationTime": "2021-10-21T12:05:37.2716582+00:00", "beginExecutionTime":
        null, "endExecutionTime": null, "cancellationTime": null, "errorData": null,
        "isCancelling": false, "tags": [], "access_token": "fake_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
    url: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
- request:
    body: null
    headers:
    method: GET
    uri: https://eastus.quantum.azure.com/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myresourcegroup/providers/Microsoft.Quantum/workspaces/myworkspace/jobs/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"containerUri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000?sv=PLACEHOLDER&sig=PLACEHOLDER&se=PLACEHOLDER&srt=co&ss=b&sp=racw",
        "inputDataU[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 21 Oct 2021 12:05:31 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2020-06-12'
    method: GET
    uri: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PathRelinkingSolver-%252220210101-000000%2522-2dd71a04-3267-11ec-bf79-00155d7e7626.output.json
  response:
    body:
      string: '{"input_data_uri": "https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/inputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=rcw",
        "input_params": {"distance_scale": "0.44", "greedy_path_relinking": "false",
        "ref_set_count": "10", "seed (GENERATED)": "3998371434", "solver_name": "PathRelinking"},
        "solutions": [{"configuration": {"0": "1", "1": "1", "2": "0", "3": "1"},
        "cost": -5.0}], "target": "1qbit.pathrelinking", "version": "1.0", "access_token":
        "fake_token"}'
    headers:
      content-range:
      - bytes 0-497/498
      content-type:
      - text/plain; charset=utf-8
      x-ms-blob-content-md5:
      - KPKAx40UxAIsq3LfscfMmg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 21 Oct 2021 12:05:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2020-06-12'
    status:
      code: 206
      message: Partial Content
    url: https://mystorage.blob.core.windows.net/job-00000000-0000-0000-0000-000000000000/rawOutputData?sv=PLACEHOLDER&sr=b&sig=PLACEHOLDER&se=PLACEHOLDER&sp=r&rscd=attachment%3B%20filename%3DTest-PathRelinkingSolver-%252220210101-000000%2522-2dd71a04-3267-11ec-bf79-00155d7e7626.output.json
[...]
