name: azure-quantum
channels:
  - quantum-engineering
  - conda-forge
dependencies:
  - python=3.7
  - pip>=21.1.3
  - pytest>=6.2.4
  - numpy>=1.21.0
  - deprecated>=1.2.12
  - msrest>=0.6.21
  - azure-core>=1.14.0
  - azure-identity>=1.6.0
  - azure-storage-blob>=12.8.1
  - azure-mgmt-core>=1.2.2
  - pip:
    - azure-devtools>=1.2.0
