name: azurequantum
channels:
  - quantum-engineering
  - conda-forge
dependencies:
  - python=3.9
  - pip>=21.1.3
  - pytest>=6.2.4
  - pytest-asyncio>=0.15.0
  - numpy>=1.21.0
  - pip:
    - cirq-core>=1.0.0
    - cirq-ionq>=1.0.0
    - qiskit-ionq>=0.3.3
    - qiskit-terra>=0.19.1
    - qiskit-qir>=0.2,<0.3
    - azure-devtools>=1.2.0
    - asyncmock>=0.4.0
    - Markdown>=3.4.1
    - python-markdown-math>=0.8
