name: azurequantumcirqbeta
channels:
  - quantum-engineering
  - conda-forge
dependencies:
  - python=3.9
  - pip>=21.1.3
  - pytest>=6.2.4
  - pytest-asyncio>=0.15.0
  - numpy>=1.21.0
  - deprecated>=1.2.12
  - msrest>=0.6.21
  - azure-identity>=1.6.0
  - azure-storage-blob>=12.8.1
  - aiohttp>=3.7.0
  - pip:
    - azure-core==1.19.1 # see https://github.com/microsoft/qdk-python/issues/220 
    - azure-devtools>=1.2.0
    - azure-storage-blob==12.11.0 # see https://github.com/microsoft/qdk-python/issues/220
    - --pre cirq-core>=0.15.0
    - cirq-ionq>=0.15.0
    - qiskit-ionq>=0.3.3
    - qiskit-terra>=0.19.1
    - qiskit-qir>=0.1.0b12
    - asyncmock>=0.4.0
    - aiofile>=3.7.2
    - protobuf>=3.14.0
