name: azurequantum
channels:
  - quantum-engineering
  - conda-forge
dependencies:
  - python=3.7
  - pip>=21.1.3
  - pytest>=6.2.4
  - pytest-asyncio>=0.15.0
  - numpy>=1.21.0
  - deprecated>=1.2.12
  - msrest>=0.6.21
  - azure-core>=1.14.0
  - azure-identity>=1.6.0
  - azure-storage-blob>=12.8.1
  - azure-mgmt-core>=1.2.2
  - aiohttp>=3.7.0
  - pip:
    - azure-devtools>=1.2.0
    - cirq>=0.12.0
    - cirq-ionq>=0.12.0
    - qiskit-ionq>=0.1.4
    - qiskit-terra>=0.18.0
    - asyncmock>=0.4.0
    - aiofile>=3.7.2
    - protobuf==3.14.0
