name: azurequantum
channels:
  - quantum-engineering
  - conda-forge
dependencies:
  - python=3.7
  - qsharp
  - pip
  - jupyter
  - pytest
  - numpy
  - pip:
    - azure-storage-blob
    - msrestazure
    - msal
    - azure-common
    - azure-identity
