# TODO: Locking PyQuil version to 4.13.1 to unblock CI as later versions require Rust toolchain to be installed
pyquil==4.17.0
# pyquil-for-azure-quantum 0.0.2 is requiring that azure-quantum <0.26.0
# See issue https://github.com/microsoft/qdk-python/issues/422
# After pyquil-for-azure-quantum 0.0.3 is published we can
# add remove these comments
# pyquil-for-azure-quantum>=0.0.3