azure-core>=1.25.0
azure-identity>=1.6.0
azure-storage-blob>=12.13.0
msrest>=0.6.21
numpy>=1.21.0
deprecated>=1.2.12
aiohttp>=3.7.0
aiofile>=3.7.2
protobuf>=3.14.0,<4.0
Markdown>=3.4.1
python-markdown-math>=0.8