# The following lines are to be removed 
# after https://github.com/kevin1024/vcrpy/issues/688 is fixed
# and azure-devtools adopts the fix from vcrpy.
urllib3==2.0.2
vcrpy==4.2.1
azure-devtools==1.2.0
# And uncomment the following line
# azure-devtools>1.2.0,<2.0
asyncmock>=0.4.0,<1.0